.input-wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 6px;
  color: var(--white-text-color);
  cursor: pointer;
}

.input {
  width: 100%;
  height: 47px;
  padding-left: 23px;
  border: var(--input-border);
  border-radius: 3px;
  outline: inherit;
}

.error-block {
  margin-top: 5px;
}
