link(rel="stylesheet", href="./style.scss", data-inline)
body
  table(class="message-container")
    tr
      td
        p Thanks for signing up with Streamlet! To finish creating your account, you must click on the link below: 
    tr 
      td 
        a(href=verificationLink class="button" target="_blank") Verify email address
    tr
      td
        hr
        footer Streamlet team
