@use 'assets/css/breakpoint';
@use 'assets/css/config';

$base-z-index: config.$page-component-z-index;

.channel-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 30px;
  padding: 20px 30px;
  padding-bottom: 0;
  background-color: var(--channel-header-background);
}

.channel-upper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px 10px;

  @media #{breakpoint.$tablet-small} {
    flex-direction: row;
    justify-content: unset;
    align-items: center;
  }
}

.subscribe-wrapper {
  position: relative;
  @media #{breakpoint.$tablet-small} {
    margin-left: auto;
  }
}

.signin-modal {
  position: absolute;
  top: 120%;
  left: 0;
  z-index: $base-z-index + 10;
  width: 200px;
  @media #{breakpoint.$tablet-small} {
    right: 0;
    left: unset;
    margin-left: auto;
  }
}
