@import 'assets/css/config.scss';

.layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-section {
  display: flex;
  width: 100%;
  height: calc(100vh - $header-height);
}

.studio-content-section {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  max-height: 100%;
  overflow: auto;
  color: var(--white-text-color);
  background-color: var(--primary-text-color);
}
