.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-section {
  display: flex;
  width: 100%;
  height: calc(100vh - 82px);
}

.main-content {
  flex: 1;
  color: var(--white-text-color);
  background-color: var(--primary-text-color);
}
