@import 'assets/css/config.scss';

$base-z-index: $page-component-z-index;

.chat-default {
  --form-bgc: var(--gray-300-header-menu-background);
  --input-bgc: var(--gray-400-primary-background);
  --send-btn-bgc: var(--brand-green-color);
  --msg-length-count-color: var(--text-gray-color);
  --no-auth-modal-bgc: var(--gray-400-primary-background);
}

.chat-green {
  --form-bgc: var(--green-200-header-menu-background);
  --input-bgc: var(--green-300-primary-background);
  --send-btn-bgc: var(--brand-green-color);
  --msg-length-count-color: var(--green-100-header-menu-background);
  --no-auth-modal-bgc: var(--green-300-primary-background);
}

.add-comments {
  position: relative;
  z-index: $base-z-index;
  height: 110px;
  padding: 20px 20px 10px;
  background-color: var(--form-bgc);
  border-radius: 3px;
}

.add-comments .input-add-comments {
  width: 100%;
  padding: 6px 15px;
  color: var(--brand-green-color);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.16px;
  background-color: var(--input-bgc);
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
}

.add-comments .input-error {
  border: var(--input-error-border);
}

.add-comments .group-buttons-reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.add-comments .group-buttons-reactions button {
  border: none;
  outline: none;
  cursor: pointer;
}

.add-comments .group-buttons-reactions button:hover {
  opacity: 0.8;
}

.add-comments .group-buttons-reactions button svg {
  display: block;
}

.add-comments .group-buttons-reactions .send-message {
  padding: 5px 10px;
  background-color: var(--send-btn-bgc);
  border-radius: 3px;
}

.send-btn-group {
  display: flex;
  flex-flow: row nowrap;
}

.message-length-count {
  margin-right: 10px;
  color: var(--msg-length-count-color);
  font-size: 14px;
}

.sign-in-modal {
  font-size: 14px;
  background-color: var(--no-auth-modal-bgc);
}

.sign-in-modal > div {
  margin: 0;
}

.sign-in-modal > div:nth-child(1) {
  padding: 7px 15px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.sign-in-modal > div:nth-child(2) {
  display: none;
}

.sign-in-modal > div:nth-child(3) {
  padding: 5px 8px 5px 20px;
}

.emoji-block {
  bottom: 95px;
  left: -20px;
  z-index: $base-z-index + 10;

  & > aside {
    --epr-picker-width: 350px;
    --epr-picker-height: 300px;

    @media screen and (max-width: 1199px) {
      --epr-picker-width: 300px;
    }

    @media screen and (max-width: 991px) {
      --epr-picker-width: 400px;
    }

    @media screen and (max-width: 767px) {
      --epr-picker-width: 350px;
    }

    @media screen and (max-width: 575px) {
      --epr-picker-width: 300px;
    }
  }
}
