.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  padding: 0 30px;
  background-color: var(--gray-300-header-menu-background);
  border-bottom: 3px solid black;
}
