.participant {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.participant-avatar {
  width: 34px;
  height: 34px;
  margin-right: 12px;
  background-size: cover;
  border-radius: 50%;
}

.participant-name {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 16px;
}

.default-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 12px;
  color: var(--green-100-header-menu-background);
  font-size: 14px;
  line-height: 14px;
  background-color: var(--green-200-header-menu-background);
  border-radius: 50%;
}
