.need-sign-in-modal {
  display: flex;
  flex-flow: column nowrap;
  color: var(--text-gray-color);
  background-color: var(--gray-300-header-menu-background);
  border-radius: 3px;
}

.need-sign-in-modal-header {
  margin: 20px 0 10px;
  padding: 0 20px;
}

.need-sign-in-main-text {
  margin: 0 0 20px;
  padding: 0 20px;
}

.redirect-to-sign-in {
  padding: 8px 8px 8px 20px;
  color: var(--brand-green-color);
  text-decoration: none;
  border-top: 2px solid var(--gray-200-input-background);
}
