.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-link .main-name {
  margin-left: 8px;
  color: var(--white-text-color);
  font-weight: 700;
  font-family: Inter, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
