.avatar-container {
  width: 34px;
  height: 34px;
}

.default-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green-100-header-menu-background);
  font-size: 18px;
  line-height: 18px;
  background-color: var(--green-200-header-menu-background);
}

.avatar-container,
.default-avatar,
.avatar {
  border-radius: 50%;
}

.avatar,
.default-avatar {
  width: 100%;
  height: 100%;
}
