@import 'assets/css/config.scss';

$base-z-index: $page-component-z-index;

.video-chat-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--gray-400-primary-background);
}

.video-chat-wrapper .video-chat {
  display: flex;
  flex: 1;
  flex-flow: column-reverse nowrap;
  margin-bottom: 3px;
  padding: 20px 20px 0;
  overflow: auto;
  overflow-y: overlay;
  background-color: var(--gray-300-header-menu-background);
  border-radius: 3px;
}

.video-chat-welcome-message {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--gray-400-primary-background);
}

.video-chat-welcome-message-icon {
  margin-right: 12px;
  padding-top: 7px;
}

.video-chat-welcome-message-body {
  display: flex;
  flex-flow: column nowrap;
  color: var(--white-text-color);
  font-size: 13px;
  line-height: 22px;
}

.video-chat-wrapper .video-chat::-webkit-scrollbar {
  display: none;
}

.video-chat-popout {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  padding: 20px 20px 0;
  background-color: var(--gray-300-header-menu-background);
  border-radius: 3px;
}

.video-chat-popout span {
  color: var(--text-gray-color);
  font-size: 15px;
  line-height: 20px;
}

.video-chat-restore-btn {
  margin-top: 10px;
  background-color: var(--brand-green-color-hover);
}

.video-chat-header {
  position: relative;
  z-index: $base-z-index;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--gray-300-header-menu-background);
  border-bottom: 2px solid var(--primary-text-color);
  border-radius: 3px 3px 0 0;
}

.video-chat-header-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--white-text-color);
}

.video-chat-header-back-btn {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.video-chat-header-back-btn svg {
  width: 20px;
}

.video-chat-header-back-btn path {
  fill: var(--white-text-color);
}

.video-chat-header-menu-toggle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.video-chat-header-menu-toggle path {
  fill: var(--text-gray-color);
}

.video-chat-header-menu-item path {
  fill: var(--text-gray-color);
}

.video-chat-header-menu-toggle:hover path {
  fill: var(--white-text-color);
}

.video-chat-header-menu-body {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: $base-z-index + 1;
  background-color: var(--gray-300-header-menu-background);
  border-top: 2px solid var(--primary-text-color);
  border-radius: 0 0 3px 3px;
  box-shadow: -3px 3px 10px 0 rgb(0 0 0 / 15%);
}

.video-chat-header-menu-list {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}

.video-chat-header-menu-item {
  display: grid;
  grid-template-columns: 33px auto;
  align-items: center;
  padding: 5px 15px 5px 5px;
  color: var(--text-gray-color);
  cursor: pointer;
}

.video-chat-header-menu-item svg {
  justify-self: center;
  height: 15px;
}

.video-chat-header-menu-item span {
  font-size: 15px;
  white-space: nowrap;
}

.video-chat-header-menu-item:hover {
  color: var(--white-text-color);
}

.video-chat-header-menu-item:hover path {
  fill: var(--white-text-color);
}

.video-chat:hover {
  &::-webkit-scrollbar {
    display: block;
  }
}
