.subscription-item {
  display: flex;
  align-items: center;
}

.subscription-item:not(:last-child) {
  margin-bottom: 32px;
}

.chanel-avatar {
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
}

.chanel-name {
  display: block;
  flex: 1;
  padding-right: 12px;
  overflow: hidden;
  color: var(--text-gray-color);
  font-size: 16px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
