.history-page-container {
  height: 100%;
  padding: 10px 40px 0;
}

.history-list-container > div {
  margin: 20px 0;
}

.history-list-container > .date {
  margin: 10px;
  color: var(--white-text-color);
  font-weight: 600;
}

.delete-all-btn {
  margin-left: auto;
  padding: 0 30px;
  color: var(--always-white-color);
  font-size: 20px;
  white-space: nowrap;
  text-transform: capitalize;
  border: 3px var(--brand-green-color) solid;
}

.page-header {
  margin-left: 20px;
  color: var(--white-text-color);
  font-weight: 600;
  font-family: Gilroy, sans-serif;
}

.header {
  display: flex;
  align-items: center;
}
