.container {
  padding: 10px;
  color: var(--always-white-color);
  background-color: var(--playpause-effect-bg);
  border-radius: 50%;
  animation: splash 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes splash {
  from {
    transform: scale(0.5, 0.5);
    opacity: 1;
  }

  to {
    transform: scale(2, 2);
    opacity: 0;
  }
}
