.header-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line-segment {
  flex-grow: 1;
  height: 1px;
}

.left {
  background: linear-gradient(to right, transparent, 60%, var(--brand-dark-green-color));
}

.right {
  background: linear-gradient(to left, transparent, 60%, var(--brand-dark-green-color));
}

.header {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 14px;
}
