.modal-container {
  width: 50%;
  height: 80%;
  padding: 20px;
  background-color: var(--stream-settings-modal-bg);

  @media screen and (min-width: 1600px) {
    width: 800px;
  }
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid var(--white-text-color);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: auto;
}

.control-btn {
  margin-top: 20px;
}

.heading {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  text-transform: uppercase;
}

.invisible {
  visibility: hidden;
}
