.modal-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 80%;
  padding: 20px;
  background-color: var(--stream-settings-modal-bg);
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid var(--white-text-color);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: auto;
  padding-bottom: 10px;
}

.control-btn {
  margin-top: 20px;
}

.heading {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  text-transform: uppercase;
}

.invisible {
  visibility: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
