#
# TESTS
#
TESTS_ENV_NAME="Example Environment"
TESTS_BASE_URL="https://example.com/"
TESTS_SWAGGER_URL="https://example.com/"
TESTS_USER_EMAIL="email@example.com"
TESTS_USER_PASSWORD="password"
