@import 'assets/css/breakpoint.scss';

.video-card {
  display: flex;
  flex-flow: column nowrap;
  font-family: Gilroy, sans-serif;
  background-color: var(--gray-300-header-menu-background);
}

.video-card-preview {
  position: relative;
  z-index: 10;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  cursor: pointer;
}

.video-card-preview img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-card-play {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video-card-play-btn {
  display: none;
}

.video-card-preview:focus .video-card-play-btn {
  display: flex;
}

.video-card-play-btn svg path {
  fill: var(--white-text-color);
}

.video-card-badge-duration {
  position: absolute;
  right: 10px;
  bottom: 5px;
  z-index: 15;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  color: var(--white-text-color);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: var(--gray-300-header-menu-background);
  border-radius: 16px;
}

.video-card-info {
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-columns: 40px auto;
  gap: 0 10px;
  margin-top: 10px;
}

.avatar {
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.video-card-channel {
  justify-self: end;
}

.video-card-desc {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  padding-right: 10px;
}

.video-card-title {
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.video-card-meta {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.video-card-meta svg {
  height: 12px;
}

.video-card-meta-data {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-gray-color);
}

.video-card-meta-data svg path {
  fill: var(--text-gray-color);
}

.video-card-author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.video-card-author a {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}

.video-card-author span {
  text-transform: none;
}

.video-card-author .avatar {
  display: none;
}

.video-card-tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin-top: 8px;
}

.video-card-meta-footer {
  display: flex;
  grid-column: 1 / 3;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  padding: 0 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  border-top: 1px solid var(--gray-400-primary-background);
}

.video-card-meta-footer svg {
  height: 12px;
}

@media #{$tablet-small} {
  .video-card {
    flex-flow: row nowrap;
    gap: 10px;
    background: none;
  }

  .video-card:focus-within,
  .video-card:hover {
    background-color: var(--gray-300-header-menu-background);
  }

  .video-card-preview {
    height: 160px;
    aspect-ratio: 16 / 9;
    padding-bottom: 0;
  }

  .video-card-badge-duration {
    padding: 4px 12px 2px;
  }

  .video-card-info {
    display: flex;
    margin-top: 0;
  }

  .video-card-channel {
    display: none;
  }

  .video-card-desc {
    padding-right: 0;
  }

  .video-card-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-card-meta {
    display: flex;
    flex-flow: row nowrap;
    gap: 13px;
    margin-top: 5px;
  }

  .video-card-author {
    gap: 10px;
    margin-top: 15px;
    color: var(--white-text-color);
    font-size: 14px;
    font-family: Gilroy-Medium, sans-serif;
    line-height: 16px;
  }

  .video-card-author .avatar {
    display: block;
    width: 30px;
  }

  .video-card-tag-list {
    margin-top: 10px;
  }

  .video-card-meta-footer {
    display: none;
  }
}

@media #{$tablet-middle} {
  .video-card {
    gap: 15px;
  }

  .video-card-play-btn {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f41b3b;
    border-radius: 50%;
  }

  .video-card:hover .video-card-play-btn {
    display: flex;
  }

  .video-card-play-btn svg {
    width: 15px;
  }

  .video-card-title {
    font-size: 18px;
  }

  .video-card-meta {
    margin-top: 10px;
  }

  .video-card-tag-list {
    gap: 10px;
    margin-top: 15px;
  }
}

@media #{$tablet-large} {
  .video-card-preview {
    height: 190px;
  }
}

@media #{$desktop-small} {
  .video-card-preview {
    height: 230px;
  }

  .video-card-play-btn {
    width: 50px;
    height: 50px;
  }

  .video-card-play-btn svg {
    width: 19px;
  }
}
