.forgot-password {
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-family: Gilroy, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  color: var(--text-gray-color);
}
