.forgot-password {
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 12px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  color: var(--text-gray-color);
}
