@import 'assets/css/config.scss';

.header {
  z-index: $header-z-index;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 20px;
  background-color: var(--gray-300-header-menu-background);
}

.control-icons > .search-mobile {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.search-mobile path {
  stroke-width: 5;
}

.search-input-clear path {
  fill: var(--text-gray-color);
}

.search-icon path {
  fill: var(--text-gray-color);
}

.search-icon:hover path {
  fill: var(--brand-green-color);
}

.search-mobile svg {
  display: block;
}

.search-input-clear:hover path {
  fill: var(--white-text-color);
}

.search-mobile:hover svg path {
  fill: var(--brand-green-color);
}

.control-icons .sign-in-btn {
  height: fit-content;
  padding: 11px 20px;
  color: var(--always-white-color);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: var(--brand-green-color-hover);
}

.user-avatar,
.user-menu-avatar {
  width: 32px;
  height: 32px;
  background-color: var(--white-text-color);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.user-menu {
  position: absolute;
  top: 125%;
  right: 0;
  z-index: $header-menu-z-index;
  display: block;
  width: 250px;
  padding: 12px;
  overflow: hidden;
  background-color: var(--gray-300-header-menu-background);
  border-radius: 3px;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 16%);
  cursor: auto;

  .user-menu-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 10px;
  }

  .user-menu-avatar {
    width: 46px;
    height: 46px;
    cursor: default;
  }

  .user-menu-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
  }

  .user-menu-username,
  .user-menu-email {
    color: var(--white-text-color);
    font-size: 15px;
  }

  .user-menu-email {
    font-size: 12px;
  }

  svg {
    fill: var(--white-text-color);
  }
}

.btn-go-stream svg {
  fill: var(--brand-green-color-hover);
}

.search-input-clear svg {
  width: 13px;
}

.burger-menu svg {
  display: block;
}

.control-icons button svg {
  display: block;
}

.user-menu .option-list {
  width: 100%;
  list-style: none;

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 4px;
    color: var(--hover-light-grey);
    text-align: start;
    border-radius: 4px;
    cursor: pointer;
  }

  .option-segment {
    display: flex;
    align-items: center;
  }

  .option:hover {
    background-color: var(--secondary-text-color);
  }

  .option svg {
    margin-right: 12px;
    margin-left: 5px;
  }
}

.btn-go-stream svg:hover path {
  fill: var(--brand-green-color-hover);
}

.control-icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;

  @media screen and (max-width: 560px) {
    gap: 7px;
    margin-right: 0;
  }
}

.control-icons button {
  margin: 0 8px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.control-icons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.block-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0 10px;
  background-color: var(--gray-400-primary-background);
  border-radius: 3px;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.search-icon {
  display: block;
  cursor: pointer;
}

.search-input {
  width: 100%;
  height: auto;
  padding: 8px 25px 8px 15px;
  color: var(--brand-green-color);
  font-size: 15px;
  line-height: 20px;
  background-color: transparent;
}

.search-input-clear {
  position: absolute;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.search-input:not(:placeholder-shown) {
  & ~ .search-input-clear {
    display: flex;
  }
}

.burger-menu {
  margin-right: 20px;
  background-color: transparent;
  cursor: pointer;

  @media screen and (max-width: 560px) {
    margin-right: 12px;
  }
}

.burger-menu:hover svg path {
  stroke: var(--brand-green-color);
}

.horizontal-line {
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background-color: var(--primary-text-color);
}

.logo-block {
  display: flex;
}

.logo-desktop {
  display: block;
}

.logo-mobile {
  display: none;
}

@media screen and (max-width: 560px) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }
}
