.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  padding: 18px 20px;
  background-color: var(--gray-300-header-menu-background);
}

.search-mobile {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.search-mobile path {
  stroke-width: 5;
}

.search-input-clear path {
  fill: var(--text-gray-color);
}

.search-icon path {
  fill: var(--text-gray-color);
}

.search-icon:hover path {
  fill: var(--brand-green-color);
}

.search-mobile svg {
  display: block;
}

.search-input-clear:hover path {
  fill: var(--white-text-color);
}

.search-mobile:hover svg path {
  fill: var(--brand-green-color);
}

.control-icons .sign-in-btn {
  height: fit-content;
  padding: 11px 20px;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: var(--brand-green-color-hover);
}

.user-avatar {
  width: 46px;
  height: 46px;
  background-color: var(--white-text-color);
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.user-menu {
  position: absolute;
  top: 110%;
  right: 0;
  display: block;
  width: 220px;
  padding: 12px;
  overflow: hidden;
  background-color: var(--white-text-color);
  border-radius: 3px;
  cursor: auto;
}

.btn-go-stream svg {
  fill: var(--brand-green-color-hover);
}

.search-input-clear svg {
  width: 13px;
}

.burger-menu svg {
  display: block;
}

.control-icons button svg {
  display: block;
}

.user-menu .option-list {
  width: 100%;
  list-style: none;

  .option {
    display: flex;
    align-items: center;
    padding: 4px;
    text-align: start;
    border-radius: 4px;
    cursor: pointer;
  }

  .option:not(:last-child) {
    margin-bottom: 6px;
  }

  .option:hover {
    color: var(--primary-text-color);
    background-color: var(--hover-light-grey);
  }

  .option svg {
    margin-right: 12px;
  }
}

.btn-go-stream svg:hover path {
  fill: var(--brand-green-color-hover);
}

.control-icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;

  @media screen and (max-width: 560px) {
    gap: 20px;
    margin-right: 0;
  }
}

.control-icons button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.block-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0 10px;
  background-color: var(--gray-400-primary-background);
  border-radius: 3px;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.search-icon {
  display: block;
  cursor: pointer;
}

.search-input {
  width: 100%;
  height: auto;
  padding: 8px 25px 8px 15px;
  color: var(--brand-green-color);
  font-size: 15px;
  line-height: 20px;
  background-color: transparent;
}

.search-input-clear {
  position: absolute;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.search-input:not(:placeholder-shown) {
  & ~ .search-input-clear {
    display: flex;
  }
}

.logo-block {
  display: flex;
}

.burger-menu {
  margin-right: 14px;
  background-color: transparent;
  cursor: pointer;

  @media screen and (max-width: 560px) {
    margin-right: 12px;
  }
}

.burger-menu:hover svg path {
  stroke: var(--brand-green-color);
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-link .main-name {
  margin-left: 8px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;

  @media screen and (max-width: 560px) {
    display: none;
  }
}
