.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background-color: var(--gray-300-header-menu-background);

  .block-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    min-height: 46px;

    @media screen and (max-width: 900px) {
      width: 65%;
    }
  }

  .block-user .search-mobile {
    display: none;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 900px) {
      display: block;
    }
  }

  .block-user .search-mobile svg {
    display: block;
  }

  .search-icon path {
    fill: var(--text-gray-color);
  }

  .block-user .search-mobile:hover svg path {
    fill: var(--brand-green-color);
  }

  .block-user .sign-in-btn {
    height: fit-content;
    padding: 11px 20px;
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    background-color: var(--brand-green-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .block-user .sign-in-btn:hover {
    background-color: var(--brand-green-color-hover);
  }

  .block-user .block-auth-user {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .block-user .block-auth-user .search-mobile {
    display: none;
    margin-right: 20px;

    @media screen and (max-width: 900px) {
      display: block;
    }
  }

  .wrapper-first-part .block-search .search-icon:hover path {
    fill: var(--brand-green-color);
  }

  .block-user .block-auth-user .search-mobile:hover svg path {
    fill: var(--brand-green-color);
  }

  .block-user .block-auth-user .user-avatar {
    width: 46px;
    height: 46px;
    margin-left: 46px;
    background-color: var(--white-text-color);
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (max-width: 560px) {
      margin-left: 26px;
    }

    @media screen and (max-width: 375px) {
      margin-left: 16px;
    }
  }

  .block-user .block-auth-user .user-menu {
    position: absolute;
    top: 110%;
    right: 0;
    display: block;
    width: 220px;
    padding: 12px;
    overflow: hidden;
    background-color: var(--white-text-color);
    border-radius: 3px;
    cursor: auto;
  }

  .block-user .block-auth-user button svg {
    display: block;
  }

  .wrapper-first-part .logo-block .burger-menu svg {
    display: block;
  }

  .block-user .block-auth-user .btn-go-stream svg {
    fill: var(--brand-green-color-hover);
  }

  .block-user .block-auth-user .btn-notification svg:hover {
    opacity: 0.8;
  }

  .block-user .block-auth-user .user-menu .option-list {
    width: 100%;
    list-style: none;

    .option {
      display: flex;
      align-items: center;
      padding: 4px;
      text-align: start;
      border-radius: 4px;
      cursor: pointer;
    }

    .option:not(:last-child) {
      margin-bottom: 6px;
    }

    .option:hover {
      color: var(--primary-text-color);
      background-color: var(--hover-light-grey);
    }

    .option svg {
      margin-right: 12px;
    }
  }

  .block-user .block-auth-user .btn-notification {
    margin-left: 34px;

    @media screen and (max-width: 560px) {
      margin-left: 20px;
    }
  }

  .block-user .block-auth-user .btn-go-stream svg:hover path {
    fill: var(--brand-green-color-hover);
  }

  .block-user .block-auth-user button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .wrapper-first-part {
    display: flex;
    align-items: center;
    width: 75%;

    @media screen and (max-width: 900px) {
      width: 35%;
    }
  }

  .wrapper-first-part .block-search {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 102px;
    padding: 0 10px;
    background-color: var(--gray-400-primary-background);
    border-radius: 3px;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .wrapper-first-part .block-search .search-icon {
    display: block;
    cursor: pointer;
  }

  .wrapper-first-part .block-search .search-input {
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    color: var(--brand-green-color);
    font-size: 15px;
    line-height: 20px;
    background-color: transparent;
  }

  .wrapper-first-part .logo-block {
    display: flex;
  }

  .wrapper-first-part .logo-block .burger-menu {
    margin-right: 14px;
    background-color: transparent;
    cursor: pointer;
  }

  .wrapper-first-part .logo-block .burger-menu:hover svg path {
    stroke: var(--brand-green-color);
  }

  .wrapper-first-part .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .wrapper-first-part .logo-link .main-name {
    margin-left: 5px;
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;

    @media screen and (max-width: 560px) {
      display: none;
    }
  }
}
