@import 'assets/css/scaffolding.scss';

.item {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 20%);
  cursor: pointer;
  opacity: 0.9;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.content {
  display: inline-block;
  width: 100%;
  padding: 8px 15px;
}

.title,
.message {
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--always-white-color);
  font-weight: 700;
  font-size: 14px;
}
