@import 'assets/css/breakpoint.scss';

.preference-page-content-container {
  width: 100%;
}

.preference-page-content-container button {
  cursor: pointer;
}

.profile-preferences-container {
  max-width: 1250px;
  padding: 0 30px;
  background-color: var(--gray-400-primary-background);
}

.profile-preferences-container h2 {
  color: var(--white-text-color);
}

.profile-preferences-container h3 {
  color: var(--white-text-color);
}

.profile-preferences-container label {
  white-space: nowrap;
}

.profile-preferences-main-content-container {
  padding: 20px 0;
}

.profile-image-header {
  display: block;
  margin: 0 0 20px;
  text-align: left;
}

.profile-image-upload-container {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--gray-300-header-menu-background);
}

.image-upload-control-container {
  height: 96px;
}

.image-upload-control-container span {
  display: block;
  text-transform: none;
}

.avatar-container {
  display: block;
  width: 96px;
  height: 96px;
  margin-right: 20px;
}

.profile-image-preview {
  width: 96px;
  height: 96px;
  margin-right: 20px;
  border-radius: 100%;
}

.image-upload-button {
  margin-bottom: 10px;
  padding: 0 20px;
  color: var(--always-white-color);
  text-transform: capitalize;
  background-color: var(--text-gray-color);
  border: none;
  border-radius: 3px;
}

.profile-settings-header {
  display: block;
  margin: 0 0 3px;
  text-align: left;
}

.profile-settings-sub-header {
  display: block;
  margin: 0 0 20px;
  text-align: left;
}

.profile-setting-change-block {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--gray-300-header-menu-background);
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  color: (var(--white-text-color));
  background-color: var(--gray-200-input-background);
  border: none;
}

.input:focus {
  outline: 3px green solid;
}

.profile-setting-input-block {
  width: 100%;
}

.profile-setting-change-label-block {
  padding-right: 20px;
}

.profile-setting-change-description {
  margin: 10px 0 0;
}

.profile-settings-block > div:nth-child(2n) {
  border-top: 1px var(--brand-green-color) solid;
  border-bottom: 1px var(--brand-green-color) solid;
}

.profile-settings-block > div:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.preference-page-content-container .profile-settings-block .save-change-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: var(--gray-200-input-background);
  border-bottom: none;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.save-change-button {
  height: 30px;
  padding: 0 10px;
  color: white;
  font-size: 15px;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 3px;
}

.error-message {
  display: block;
  width: 100%;
  color: var(--brand-yellow-color);
  font-size: 16px;
  text-align: center;
}

@media #{$tablet-large} {
  .profile-image-upload-container {
    flex-direction: row;
  }

  .image-upload-control-container {
    display: block;
    height: 96px;
  }

  .avatar-container {
    display: block;
    width: 96px;
    height: 96px;
    margin-right: 20px;
  }

  .profile-image-preview {
    margin-right: 20px;
  }
}

@media #{$mobile-small} and (max-width: 768px) {
  .profile-image-upload-container {
    flex-direction: column;
  }

  .image-upload-control-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .image-upload-control-container span {
    text-align: center;
  }

  .avatar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-image-preview {
    margin: 0;
  }

  .profile-preferences-container {
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .preference-page-content-container {
    overflow-y: hidden;
  }
}
