.button {
  display: flex;
  align-items: center;
  height: calc(30px * clamp(1, var(--size-modifier, 1), 1.5));
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 150ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}
