@import 'assets/css/config.scss';

$base-z-index: $page-z-index;

.auth-background {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100vw;
  background: var(--gray-400-primary-background);
}

.auth-modal {
  z-index: $base-z-index + 1;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: var(--auth-modal-background);
  border: solid 3px transparent;

  // border-radius: 3px;
  // border-image-source: linear-gradient(to left, var(--auth-modal-border-color-1), var(--auth-modal-border-color-2));
  // border-image-slice: 1;
}

.auth-container {
  margin: 38px 20px;
}

.auth-title {
  margin-top: 0;
  color: var(--white-text-color);
  font-size: 44px;
}

.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.background-zigzag,
.background-zigzag2,
.background-curve1 {
  display: none;
}

// .background-zigzag {
//   position: absolute;
//   top: 20vh;
//   left: 5vw;
//   z-index: $base-z-index;
// }

// .background-zigzag-2 {
//   position: absolute;
//   top: 44vh;
//   left: 0;
//   z-index: $base-z-index;
//   width: 155px;
// }

// .background-curve1 {
//   position: absolute;
//   top: -2vh;
//   right: 1vw;
//   z-index: $base-z-index - 1;
// }

// @media screen and (min-height: 820px) {
//   .auth-background {
//     width: 100vw;
//   }

//   .auth-modal {
//     width: 100vw;
//   }
// }

// @media screen and (min-width: 600px) {
//   .auth-modal {
//     // width: 80vw;
//     // height: auto;
//   }
//   .auth-modal {
//     width: 600px;
//   }

//   .auth-container {
//     margin: 38px 46px;
//   }

//   .background-zigzag {
//     left: -30vw;
//     z-index: $base-z-index + 2;
//   }

//   .background-zigzag-2 {
//     left: -20vw;
//     z-index: $base-z-index + 2;
//   }
// }

// @media screen and (min-width: 850px) {

//   .auth-container {
//     margin: 38px 96px;
//   }

//   .background-zigzag {
//     left: -3vw;
//   }

//   .background-zigzag-2 {
//     left: 0;
//   }
// }

// @media screen and (min-width: 980px) {
//   .background-zigzag {
//     left: 2vw;
//   }

//   .background-curve1 {
//     z-index: $base-z-index;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .background-zigzag {
//     left: 10vw;
//   }

//   .background-zigzag-2 {
//     left: 10vw;
//   }
// }
