@import 'assets/css/config.scss';

$base-z-index: $page-z-index;

.auth-logo {
  max-height: 40px;
}

.auth-background {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100vw;
  background: var(--gray-400-primary-background);
}

.auth-modal {
  z-index: $base-z-index + 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 25px 35px;
  background-color: var(--auth-modal-background);
  border-radius: 3px;
  border-image-source: linear-gradient(to left, var(--auth-modal-border-color-1), var(--auth-modal-border-color-2));
  border-image-slice: 1;
}

.auth-title {
  margin-top: 0;
  color: var(--white-text-color);
  font-size: 44px;
}

.background-zigzag {
  position: absolute;
  top: 20vh;
  left: 5vw;
}

.background-zigzag-2 {
  position: absolute;
  top: 44vh;
  left: 0;
  width: 155px;
}

.background-element {
  position: absolute;
  top: -2vh;
  right: 1vw;
}

@media screen and (min-width: 600px) {
  .auth-modal {
    width: 80vw;
    height: auto;
    border-width: 3px;
    border-style: solid;
  }

  .background-zigzag {
    left: -30vw;
  }

  .background-zigzag-2 {
    left: -20vw;
  }
}

@media screen and (min-width: 850px) {
  .auth-modal {
    width: 60vw;
  }

  .background-zigzag {
    left: -3vw;
  }

  .background-zigzag-2 {
    left: 0;
  }
}

@media screen and (min-width: 980px) {
  .background-zigzag {
    left: 2vw;
  }
}

@media screen and (min-width: 1200px) {
  .auth-modal {
    width: 50vw;
  }

  .background-zigzag {
    left: 10vw;
  }

  .background-zigzag-2 {
    left: 10vw;
  }
}
