.filter-dropdown {
  margin-top: 20px;
  padding: 0 15px 0 5px;
  font-weight: 600;
  font-family: Gilroy, sans-serif;
}

.filter-dropdown-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-dropdown-title span {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.filter-dropdown-title svg {
  width: 11px;
}

.filter-dropdown-title svg path {
  fill: var(--text-gray-color);
}

.filter-dropdown-item-close-icon svg path {
  fill: var(--text-gray-color);
}

.filter-dropdown-title:hover svg path {
  fill: var(--white-text-color);
}

.filter-dropdown-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 5px 0 0;
  padding: 0;
}

.filter-dropdown-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}

.filter-dropdown-item label {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-gray-color);
  font-size: 16px;
  line-height: 28px;
  text-transform: lowercase;
}

.filter-dropdown-item-close-icon {
  display: none;
  align-items: center;
  cursor: pointer;
}

.filter-dropdown-item-close-icon svg {
  width: 12px;
}

.filter-dropdown-item-close-icon:hover svg path {
  fill: var(--white-text-color);
}

.filter-dropdown-item label:hover {
  color: var(--brand-green-color);
  cursor: pointer;
}

.filter-dropdown-item input {
  display: none;
}

.filter-dropdown-item input:checked ~ label {
  color: var(--white-text-color);
}

.filter-dropdown-item input:checked ~ .filter-dropdown-item-close-icon {
  display: flex;
}
