.selected,
.selectable {
  display: grid;
  grid-template-columns: 25px auto;
}

.selectable:not(.selected) {
  .icon {
    color: var(--selectable-not-selected-bg);
  }
}

.modal-item {
  padding: 5px 15px;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    &.selectable:not(.selected) {
      .icon {
        --circle-countour-width: 3px;

        color: var(--always-white-color);
      }
    }
  }

  &:not(.selectable):hover {
    background-color: var(--hovered-menu-item-bg);
  }
}

.header {
  border-bottom: 1px solid var(--always-white-color);
}

.icon-modal-item {
  display: grid;
  grid-template-columns: 30px auto;
}

.icon-container {
  display: flex;
  align-items: center;
}
