:root {
  --notifications-border: var(--gray-400-primary-background);
  --notifications-hover: var(--gray-200-input-background);
  --notifications-timestamp: var(--text-gray-color);
}

.notification {
  display: flex;
  align-items: center;
  padding: 15px 8px;
  border-bottom: 1px solid var(--notifications-border);
}

.notification:hover {
  background-color: var(--notifications-hover);
}

.status {
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background-color: transparent;
  border-radius: 50%;
}

.status-unread {
  background-color: var(--notifications-unread-mark);
}

.avatar {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
}

.info {
  width: 70%;
  padding: 5px;
  line-height: 16px;
}

.message {
  display: block;
  margin-bottom: 4px;
  font-size: 80%;
}

.timestamp {
  color: var(--notifications-timestamp);
  font-size: 70%;
}

.thumbnail {
  margin: 0 10px;
}

.link {
  text-decoration: none;
}
