.input-wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 0 2px;
  color: var(--white-text-color);
  cursor: pointer;
}

.input {
  width: 100%;
  height: 47px;
  padding: 10px 12px;
  line-height: 20px;
  border: var(--input-border);
  border-radius: 3px;
  outline: inherit;
  resize: none;
}

.input:disabled {
  background-color: var(--input-disabled-color);
}
