@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLight.eot');
    src: url('Inter-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLight.woff2') format('woff2'),
        url('Inter-ExtraLight.woff') format('woff'),
        url('Inter-ExtraLight.ttf') format('truetype'),
        url('Inter-ExtraLight.svg#Inter-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin.eot');
    src: url('Inter-Thin.eot?#iefix') format('embedded-opentype'),
        url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff'),
        url('Inter-Thin.ttf') format('truetype'),
        url('Inter-Thin.svg#Inter-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin_1.eot');
    src: url('Inter-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-Thin_1.woff2') format('woff2'),
        url('Inter-Thin_1.woff') format('woff'),
        url('Inter-Thin_1.ttf') format('truetype'),
        url('Inter-Thin_1.svg#Inter-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin_2.eot');
    src: url('Inter-Thin_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-Thin_2.woff2') format('woff2'),
        url('Inter-Thin_2.woff') format('woff'),
        url('Inter-Thin_2.ttf') format('truetype'),
        url('Inter-Thin_2.svg#Inter-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLight_1.eot');
    src: url('Inter-ExtraLight_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLight_1.woff2') format('woff2'),
        url('Inter-ExtraLight_1.woff') format('woff'),
        url('Inter-ExtraLight_1.ttf') format('truetype'),
        url('Inter-ExtraLight_1.svg#Inter-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLight_2.eot');
    src: url('Inter-ExtraLight_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLight_2.woff2') format('woff2'),
        url('Inter-ExtraLight_2.woff') format('woff'),
        url('Inter-ExtraLight_2.ttf') format('truetype'),
        url('Inter-ExtraLight_2.svg#Inter-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.eot');
    src: url('Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff'),
        url('Inter-SemiBold.ttf') format('truetype'),
        url('Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light.eot');
    src: url('Inter-Light.eot?#iefix') format('embedded-opentype'),
        url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff'),
        url('Inter-Light.ttf') format('truetype'),
        url('Inter-Light.svg#Inter-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold_1.eot');
    src: url('Inter-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBold_1.woff2') format('woff2'),
        url('Inter-SemiBold_1.woff') format('woff'),
        url('Inter-SemiBold_1.ttf') format('truetype'),
        url('Inter-SemiBold_1.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff'),
        url('Inter-Regular.ttf') format('truetype'),
        url('Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.eot');
    src: url('Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff'),
        url('Inter-ExtraBold.ttf') format('truetype'),
        url('Inter-ExtraBold.svg#Inter-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular_1.eot');
    src: url('Inter-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-Regular_1.woff2') format('woff2'),
        url('Inter-Regular_1.woff') format('woff'),
        url('Inter-Regular_1.ttf') format('truetype'),
        url('Inter-Regular_1.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold_2.eot');
    src: url('Inter-SemiBold_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBold_2.woff2') format('woff2'),
        url('Inter-SemiBold_2.woff') format('woff'),
        url('Inter-SemiBold_2.ttf') format('truetype'),
        url('Inter-SemiBold_2.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold_1.eot');
    src: url('Inter-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraBold_1.woff2') format('woff2'),
        url('Inter-ExtraBold_1.woff') format('woff'),
        url('Inter-ExtraBold_1.ttf') format('truetype'),
        url('Inter-ExtraBold_1.svg#Inter-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff'),
        url('Inter-Medium.ttf') format('truetype'),
        url('Inter-Medium.svg#Inter-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Black.eot');
    src: url('Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff'),
        url('Inter-Black.ttf') format('truetype'),
        url('Inter-Black.svg#Inter-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium_1.eot');
    src: url('Inter-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium_1.woff2') format('woff2'),
        url('Inter-Medium_1.woff') format('woff'),
        url('Inter-Medium_1.ttf') format('truetype'),
        url('Inter-Medium_1.svg#Inter-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff'),
        url('Inter-Bold.ttf') format('truetype'),
        url('Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular_2.eot');
    src: url('Inter-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-Regular_2.woff2') format('woff2'),
        url('Inter-Regular_2.woff') format('woff'),
        url('Inter-Regular_2.ttf') format('truetype'),
        url('Inter-Regular_2.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium_2.eot');
    src: url('Inter-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium_2.woff2') format('woff2'),
        url('Inter-Medium_2.woff') format('woff'),
        url('Inter-Medium_2.ttf') format('truetype'),
        url('Inter-Medium_2.svg#Inter-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Black_1.eot');
    src: url('Inter-Black_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-Black_1.woff2') format('woff2'),
        url('Inter-Black_1.woff') format('woff'),
        url('Inter-Black_1.ttf') format('truetype'),
        url('Inter-Black_1.svg#Inter-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold_1.eot');
    src: url('Inter-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold_1.woff2') format('woff2'),
        url('Inter-Bold_1.woff') format('woff'),
        url('Inter-Bold_1.ttf') format('truetype'),
        url('Inter-Bold_1.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Black_2.eot');
    src: url('Inter-Black_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-Black_2.woff2') format('woff2'),
        url('Inter-Black_2.woff') format('woff'),
        url('Inter-Black_2.ttf') format('truetype'),
        url('Inter-Black_2.svg#Inter-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light_1.eot');
    src: url('Inter-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Inter-Light_1.woff2') format('woff2'),
        url('Inter-Light_1.woff') format('woff'),
        url('Inter-Light_1.ttf') format('truetype'),
        url('Inter-Light_1.svg#Inter-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light_2.eot');
    src: url('Inter-Light_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-Light_2.woff2') format('woff2'),
        url('Inter-Light_2.woff') format('woff'),
        url('Inter-Light_2.ttf') format('truetype'),
        url('Inter-Light_2.svg#Inter-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold_2.eot');
    src: url('Inter-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold_2.woff2') format('woff2'),
        url('Inter-Bold_2.woff') format('woff'),
        url('Inter-Bold_2.ttf') format('truetype'),
        url('Inter-Bold_2.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold_2.eot');
    src: url('Inter-ExtraBold_2.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraBold_2.woff2') format('woff2'),
        url('Inter-ExtraBold_2.woff') format('woff'),
        url('Inter-ExtraBold_2.ttf') format('truetype'),
        url('Inter-ExtraBold_2.svg#Inter-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

