.google-btn {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--white-text-color);
  border-radius: 3px;
  outline: inherit;
  cursor: pointer;
}

.google-btn:hover {
  background-color: var(--text-gray-color);
}
