.google-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  color: inherit;
  background-color: var(--hover-light-grey);
  border: none;
  border-radius: 3px;
  outline: inherit;
  cursor: pointer;
}

.google-btn:hover {
  background-color: var(--brand-green-color);
}

.messages {
  color: var(--secondary-text-color);
}
