.indicator {
  display: flex;
  align-items: center;
}

.live-label {
  padding: 4px 6px;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  background-color: var(--live-indicator-bg);
  border-radius: 4px;
}
