.banner-section {
  position: relative;
  width: 100%;
  padding-top: min(200px, calc(1 / 8 * 100%)); /* 1:8 Aspect Ratio */
  background-color: var(--banner-background);
}

.banner-section-aspect-ratio-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}
