.banner-section {
  position: relative;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 8 / 1;
  background-color: var(--banner-background);
}

.banner-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
