/* this module styles sliders and so needs non-standard rules */
/* stylelint-disable property-no-vendor-prefix */
.volume-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.volume-slider {
  width: 0;
  max-width: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: width 150ms ease-in-out, max-width 150ms ease-in-out, transform 150ms ease-in-out;
}

@mixin thumb-initial {
  transform: scale(0);
  opacity: 0;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

.volume-slider::-moz-range-thumb {
  @include thumb-initial;
}

.volume-slider::-webkit-slider-thumb {
  @include thumb-initial;
}

.volume-wrapper:hover .volume-slider {
  width: 80px;
  max-width: 80px;
  transform: scaleX(1);

  @mixin visible-thumb {
    transform: scale(1);
    opacity: 1;
  }

  &::-moz-range-thumb {
    @include visible-thumb;
  }

  &::-webkit-slider-thumb {
    @include visible-thumb;
  }
}
