link(rel="stylesheet", href="./style.scss", data-inline)
body
  table(class="message-container")
    tr
      td
        p We got a request to reset your Streamlet password. 
    tr 
      td 
        a(href=resetLink class="button" target="_blank") Reset password
    tr
      td
        p If you didn't ask to send this email, please ignore it. 
    tr
      td
        hr
        footer Streamlet team
