.video-page {
  display: grid;
  grid-template:
    'video video chat'
    'video video chat'
    'info info chat';
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: minmax(200px, 403px) minmax(200px, 403px) 1fr;
  grid-gap: 17px;
  height: calc(100vh - 82px);
  padding: 22px 43px 0;
  overflow-y: scroll;
  @media screen and (max-width: 992px) {
    display: block;
  }
}

.video-page h2 {
  display: block;
  width: 70%;
  color: #ffffff;
  font-size: 24px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-block {
  grid-area: video;
  background-color: #1f8838;
  @media screen and (max-width: 1100px) {
    width: 60%;
  }
  @media screen and (max-width: 992px) {
    height: fit-content;
  }
}

.reaction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.reaction-container span {
  margin-left: 10px;
}

.reaction-block {
  display: flex;
}

.chat-block {
  grid-area: chat;
  height: 100%;

  @media screen and (max-width: 1100px) {
    width: 40%;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.video-info-block {
  display: flex;
  grid-area: info;
  flex-direction: column;
}

.video-header {
  display: flex;
}

.description-container {
  max-width: 70%;
  margin: 11px 0 8px;
  color: #6a726d;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
}

.video-page hr {
  width: 80%;
  height: 1px;
  margin-bottom: 19px;
  color: var(--gray-200-input-background);
  background-color: var(--gray-200-input-background);
  border-color: var(--gray-200-input-background);
  outline-color: var(--gray-200-input-background);
}

.subscribe-button-default {
  color: var(--text-gray-color);
  background-color: var(--green-300-primary-background);
}

.subscribe-button-subscribed {
  color: white;
  background-color: var(--brand-green-color);
}

.subscribe-button-basic {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 2px;
}
