@use 'assets/css/breakpoint';

.video-page {
  display: grid;
  grid-template:
    'video-player'
    'video-info'
    'side-block'
    'comments-block';
  grid-template-columns: 1fr;
  max-width: 1700px;
  margin: auto;
  padding: 20px;
  column-gap: 20px;
  @media #{breakpoint.$tablet-large} {
    grid-template:
      'video-player side-block'
      'video-info side-block'
      'comments-block side-block' / 2.3fr 1fr;
    padding: 20px;
  }

  @media #{breakpoint.$desktop-small} {
    grid-template:
      'video-player side-block'
      'video-info side-block'
      'comments-block side-block' / 3fr 1fr;
    padding: 20px;
  }
}

.side-block {
  display: flex;
  grid-area: side-block;
  flex-direction: column;
  gap: 20px;
}

.video-block {
  grid-area: video-player;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  @media screen and (max-width: 992px) {
    height: fit-content;
  }
}

.chat-block {
  height: 100%;
  max-height: min(860px, 80vh);

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.video-info-block {
  display: flex;
  grid-area: video-info;
  flex-direction: column;
  margin-top: 20px;
  padding: 0;
}

.video-comment-block {
  grid-area: comments-block;
  padding: 0;
}

.description-container {
  max-width: 65%;
  margin-top: 11px;
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
}

.video-page hr {
  width: 100%;
  height: 1px;
  margin: 19px 0;
  color: var(--gray-200-input-background);
  background-color: var(--gray-200-input-background);
  border-color: var(--gray-200-input-background);
  outline-color: var(--gray-200-input-background);
}

@media screen and (max-width: 768px) {
  .video-page {
    padding: 0;
  }

  .video-info-block {
    padding: 10px;
  }

  .video-comment-block {
    padding: 10px;
  }

  .chat-block {
    padding: 10px;
  }

  .channel-info-container {
    flex-direction: column;
    align-items: initial;
  }

  .description-container {
    max-width: 100%;
  }
}
