@import 'assets/css/config.scss';

.video-page {
  display: flex;
  height: calc(100vh - $header-height);

  @media screen and (max-width: 992px) {
    display: block;
  }
}

.video-block {
  width: 70%;
  height: 100%;

  @media screen and (max-width: 1100px) {
    width: 60%;
  }

  @media screen and (max-width: 992px) {
    height: fit-content;
  }
}

.chat-block {
  width: 30%;
  height: 100%;

  @media screen and (max-width: 1100px) {
    width: 40%;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
