@import 'assets/css/config.scss';

.page-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal-z-index;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-400-primary-background);
}

.error-description-container span {
  display: block;
  text-transform: uppercase;
}

.go-home-button {
  height: 50px;
  padding: 0 10px;
  color: var(--always-white-color);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.error-code {
  margin-bottom: 40px;
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 1px;
  text-align: center;
}

.error-text {
  margin-bottom: 100px;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

.message-container {
  height: fit-content;
}

.button-container {
  height: 100px;
}
