.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 0 5px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 10px 0 3px;
  color: var(--white-text-color);
  cursor: pointer;
}

.input {
  height: 45px;
  color: white;
  background-color: var(--studio-input);
}

.basic-info-wrapper .area-input {
  height: 200px;
  color: white;
  background-color: var(--studio-input);
}
