@import 'assets/css/config.scss';

.no-overflow {
  overflow: hidden;
}

.portal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal-z-index;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(30%);
}
