.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.preview-img {
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  outline: 3px solid var(--brand-green-color);
}
