#
# APPLICATION
#
API_BASE_PREFIX=/api/v1
NODE_ENV=production
HOST=localhost
PORT=5001

#
# DATABASE
#
DATABASE_URL="postgresql://postgres:admin@api-db:5432/streamlet?schema=public"

#
# ENCRYPTION
#
REFRESH_TOKEN_BYTES=64
# 512 bit string
# https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx
JWT_SECRET=secret
