#
# APPLICATION
#
API_BASE_PREFIX=/api/v1
NODE_ENV=production
HOST=localhost
RABBITMQ_HOST=rabbit
PORT=5001
RABBITMQ_PORT=5672

#
# DATABASE
#
DATABASE_URL="postgresql://postgres:admin@api-db:5432/streamlet?schema=public"

#
# ENCRYPTION
#
# 512 bit string
# https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx
ACCESS_TOKEN_SECRET=secret0
REFRESH_SECRET=secret1
RESET_PASSWORD_TOKEN_SECRET=secret2
VERIFICATION_TOKEN_SECRET=secret3

#
# CLOUD
#
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=

#
# MAIL SERVICE
#
MAIL_ADDRESS=
MAIL_PASSWORD=
