link(rel="stylesheet", href="./style.scss", data-inline)
body
  table(class="message-container")
    tr
      td
        h1 Welcome to Streamlet, #{name}!
    tr 
      td 
        p We hope you enjoy our service! 
    tr
      td
        hr
        footer Streamlet team
