.loader-wrapper {
  --spinner-height: 40px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(var(--spinner-height) * 0.35);
  width: calc(var(--spinner-height) * 1.2);
}

.h-centered {
  margin-right: auto;
  margin-left: auto;
}

.v-centered {
  top: 50%;
  transform: translateY(-50%);
}

.xl {
  --spinner-height: 60px;
}

.lg {
  --spinner-height: 50px;
}

.md {
  --spinner-height: 40px;
}

.sm {
  --spinner-height: 30px;
}

.xs {
  --spinner-height: 20px;
}

.loader {
  box-sizing: border-box;
  width: calc(var(--spinner-height) * 0.12);
  height: calc(var(--spinner-height) * 0.12);
  background: var(--brand-green-color);
  border-radius: calc(var(--spinner-height) * 0.1);
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader:nth-of-type(2) {
  animation-delay: 0.45s;
}

.loader:nth-of-type(1) {
  animation-delay: 0.1s;
}

@keyframes animloader {
  0% {
    width: calc(var(--spinner-height) * 0.12);
  }

  100% {
    width: calc(var(--spinner-height) * 1.2);
  }
}
