@import 'assets/css/styles.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 794px;
  background: var(--green-200-header-menu-background);
  border-right: 1px solid var(--text-gray-color);
}

.button {
  padding: 15px;
}

.hover-item:hover {
  background-color: var(--brand-green-color);
  cursor: pointer;
}

.buttons {
  background: var(--green-200-header-menu-background);
}
