.arrow:disabled,
.arrow[disabled] {
  display: none;
}

.blur-container {
  position: absolute;
  right: 2px;
  z-index: 1;
  width: 50px;
  height: 100%;
  background: linear-gradient(
    270deg,
    var(--solid-color-h-scroll) 50%,
    var(--sub-transparent-h-scroll) 89%,
    var(--transparent-h-scroll) 98%
  );
}

.blur-container-left {
  left: 2px;
  background: linear-gradient(
    90deg,
    var(--solid-color-h-scroll) 50%,
    var(--sub-transparent-h-scroll) 89%,
    var(--transparent-h-scroll) 98%
  );
}

.blur-container-following-browse {
  background: linear-gradient(
    270deg,
    var(--browse-following-header-color) 50%,
    var(--browse-following-header-color-sub-transparent) 89%,
    var(--browse-following-header-color-transparent) 98%
  );
}

.blur-container-following-browse-left {
  left: 2px;
  background: linear-gradient(
    90deg,
    var(--browse-following-header-color) 50%,
    var(--browse-following-header-color-sub-transparent) 89%,
    var(--browse-following-header-color-transparent) 98%
  );
}

.arrow-container {
  position: relative;
  display: flex;
}

.arrow-container .arrow {
  z-index: 2;
  width: 29px;
  padding: 0;
  color: var(--auth-border);
  background: none;

  &:hover {
    background: none;
  }

  &:active {
    max-height: 31px;
    padding: 7px;
    background-color: var(--gray-200-input-background);
    border-radius: 100%;
  }
}
