@use 'assets/css/breakpoint';

.browse-page-container {
  padding: 20px;

  @media #{breakpoint.$mobile-middle} {
    padding: 20px 40px;
  }
}

.horizontal-scroll {
  overflow: hidden;
}

.browse-page-header-container,
.browse-page-categories-container {
  display: flex;
  align-items: center;
}

.browse-page-categories-container {
  overflow-y: hidden;
}

.browse-page-header-container {
  margin-bottom: 20px;
}

.browse-page-header {
  margin-left: 20px;
  color: var(--white-text-color);
  font-weight: 600;
  font-family: Gilroy, sans-serif;
}

.categories-button {
  padding: 0 47px;
  color: var(--text-gray-color);
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
  background: none;
}

.active-categories-button {
  color: var(--white-text-color);
  border-bottom: 3px var(--brand-green-color) solid;
}

.categories-button:hover {
  color: var(--white-text-color);
  background: none;
}

.browse-page-video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  width: 100%;

  @media screen and (min-width: 2500px) {
    width: 1900px;
    margin: 0 auto;
  }

  @media screen and (max-width: 1900px) {
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  }
}

.browse-page-video-container > div {
  margin: 20px 0;
}

.no-video-in-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 200px);
  margin: 0;
}
