@import 'assets/css/config.scss';

$base-z-index: $page-component-z-index;

.wrapper {
  background-color: transparent;
}

.wrapper-checked {
  background-color: var(--green-200-header-menu-background);
}

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.video-preview-container {
  position: relative;
  width: 180px;
  height: auto;
  cursor: pointer;
}

.video-preview-poster {
  display: block;
  width: 100%;
  min-width: 180px;
  object-fit: cover;
}

.video-labels {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
}

.video-duration-label {
  min-width: 47px;
  padding: 5px;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0;
  text-align: center;
  background-color: var(--gray-300-header-menu-background);
  border-radius: 10px;
  cursor: pointer;
}

.video-info {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding-left: 15px;
}

.video-info-segment {
  height: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:last-child {
    height: 80%;
    color: var(--text-gray-color);
    font-size: 15px;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
}

.video-container-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-info-menu {
  cursor: pointer;
}

.video-menu-body {
  position: relative;
  top: 8px;
  left: 20px;
  z-index: $base-z-index + 1;
  height: fit-content;
  padding: 15px;
  background-color: var(--always-gray-300-header-menu-background);
  border-radius: 0 0 3px 3px;
  box-shadow: -3px 3px 10px 0 rgb(0 0 0 / 15%);
}

.video-menu-list {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}

.video-menu-item {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  padding: 4px;
  cursor: pointer;

  span {
    color: var(--always-text-gray-color);
    font-size: 15px;
    white-space: nowrap;
  }

  svg {
    justify-self: center;
    height: 15px;
    fill: var(--always-text-gray-color);
  }

  &:hover {
    span {
      color: var(--always-white-color);
    }

    path {
      fill: var(--always-white-color);
    }
  }
}
