.video-container-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  background-color: blueviolet;
}

/* .video-container {

} */
