@use 'assets/css/breakpoint';
@import 'assets/css/styles.scss';

.page-container {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  background: var(--green-300-primary-background);

  @media #{breakpoint.$mobile-middle} {
    padding: 20px 40px;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.page-header {
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 30px;
  font-family: Gilroy, sans-serif;
  text-transform: capitalize;
}
