.check-password-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 0;
  color: inherit;
  background-color: var(--white-text-color);
  border: none;
  border-radius: 0 3px 3px 0;
  outline: inherit;
  cursor: pointer;
}

.password-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin-top: 5px;
}
