.input {
  width: 100%;
  height: 47px;
  padding-left: 23px;
  border-radius: 3px;
  outline: inherit;
}

.check-password-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 0;
  color: var(--password-eye-color);
  background-color: var(--input-background-color);
  border: none;
  border-radius: 0 3px 3px 0;
  outline: inherit;
  cursor: pointer;
}

.check-password-btn path {
  fill: var(--secondary-text-color);
}

.check-password-btn:hover path {
  fill: var(--always-primary-text-color);
}

.password-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  border: var(--input-border);
  border-radius: 3px;
}
