@import 'assets/css/config.scss';

.sidebar {
  z-index: $sidebar-z-index;
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
  background-color: var(--gray-300-header-menu-background);

  @media screen and (max-width: 1300px) {
    width: 64px;
    min-width: 64px;
  }

  @media screen and (max-width: 560px) {
    display: none;
  }
}

.sidebar.close {
  width: 64px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover {
  &::-webkit-scrollbar {
    display: block;
  }
}

.navigate-menu ul a {
  display: block;
  text-decoration: none;
}

.navigate-menu ul li .link-name {
  color: var(--text-gray-color);
  font-size: 16px;
  line-height: 28px;

  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.subscription-more span {
  display: block;
  flex: 1;
  padding-right: 12px;
  overflow: hidden;
  color: var(--text-gray-color);
  font-size: 16px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subscription-more:hover span {
  color: var(--white-text-color);
}

.navigate-menu ul a:hover .link-name {
  color: var(--white-text-color);
}

.navigate-menu ul a.active:hover span {
  color: var(--always-white-color);
}

.subscription-more path {
  fill: var(--text-gray-color);
}

.navigate-menu ul li svg path {
  fill: var(--text-gray-color);
}

.subscription-more:hover path {
  fill: var(--white-text-color);
}

.navigate-menu ul a:hover svg path {
  fill: var(--white-text-color);
}

.navigate-menu ul li {
  display: flex;
  align-items: center;
  padding: 13px 20px;

  @media screen and(max-width: 1300px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navigate-menu ul a.active {
  background-color: var(--brand-green-color);
}

.navigate-menu ul a.active svg path {
  fill: var(--always-white-color);
}

.subscription-more svg {
  margin-right: 20px;
}

.navigate-menu ul li svg {
  margin-right: 20px;

  @media screen and (max-width: 1300px) {
    margin: 0;
  }
}

.sidebar.close .navigate-menu ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar.close .navigate-menu ul li .link-name {
  display: none;
}

.sidebar.close .navigate-menu ul li svg {
  margin: 0;
}

.sidebar.close .block-subscription {
  display: none;
}

.subscription-list {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px;

  @media screen and(max-width: 1300px) {
    display: none;
  }
}

.subscription-title {
  padding: 0 20px;
  color: var(--text-gray-color);
  font-size: 16px;
  line-height: 28px;

  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.subscription-more {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.subscription-more:hover {
  cursor: pointer;
}

.sign-in-promo-wrp {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 16px 32px;

  @media screen and(max-width: 1300px) {
    display: none;
  }
}

.sign-in-promo-text {
  color: var(--text-gray-color);
  font-size: 16px;
  line-height: 28px;
}

.sign-in-promo-btn {
  height: fit-content;
  margin-top: 12px;
  padding: 11px 20px;
  color: var(--always-white-color);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: var(--gray-400-primary-background);
}
