.wrapper {
  position: relative;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: absolute;
  right: 0;
  display: flex;
  width: 350px;
  height: 300px;
  background-color: black;
}
