:root {
  // The same color as header background
  --unread-mark-border: var(--gray-300-header-menu-background);
  --dropdown-background: var(--gray-300-header-menu-background);
  --notifications-unread-mark: rgb(221 7 7);
  --notifications-dropdown-border: var(--gray-200-input-background);
  --notifications-text: #ffffff;
}

.wrapper {
  position: relative;
}

.bell,
.mark-as-read,
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.unread-mark {
  position: absolute;
  top: 10%;
  right: 15%;
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--notifications-unread-mark);
  border: 2px solid var(--unread-mark-border);
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 400px;
  height: 300px;
  background-color: var(--dropdown-background);
  border: 1px solid var(--notifications-dropdown-border);
  border-radius: 5px;
}

.open {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 2px solid var(--notifications-dropdown-border);
}

.title {
  margin: 0;
  font-size: 130%;
}

.dropdown-body {
  height: 100%;
  overflow-x: hidden;
}

.notification-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-x: auto;
}

.load-more {
  margin: 5px 0;
  color: var(--notifications-text);
}

.load-more:hover {
  text-decoration: underline;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
