@import 'assets/css/styles.scss';

.settings-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  background: var(--green-300-primary-background);
}

.settings-block-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: calc(100vh - 40px);
  margin: 20px 40px;
  overflow: auto;
  border-radius: 5px;
}

.settings-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  width: 100%;
  min-width: 900px;
  height: 100%;
  padding: 20px;
  background: var(--green-200-header-menu-background);
}

.chat-container {
  display: flex;
  flex-basis: 0.0001px;
  min-width: 350px;
  max-width: 350px;
  height: 100%;
  overflow: hidden;
}

.area {
  height: 250px;
  color: var(--white-text-color);
  background-color: var(--studio-input);

  &:disabled {
    color: var(--text-gray-color);
    background-color: var(--studio-input-disabled);
  }
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: 0 20px;
}

.col-1 {
  flex-basis: 45%;
}

.col-2 {
  flex-basis: 55%;
  max-width: 55%;

  @media screen and (max-width: 1500px) {
    max-width: 50%;
  }
}

.button {
  flex: 0 0 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: var(--white-text-color);
  line-height: 16px;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--brand-green-color);

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.preview-container {
  position: relative;
  min-width: 400px;
  margin-bottom: 30px;
  padding-bottom: 56.25%;
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}

.input,
.input-eye {
  height: 40px;
  color: var(--white-text-color);
  background-color: var(--studio-input);

  &:disabled {
    color: var(--text-gray-color);
    background-color: var(--studio-input-disabled);
  }

  &:hover {
    background-color: var(--studio-input);
  }
}

.field-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
}

.field-container > * {
  width: 100%;
}

.label {
  margin: 0;
}

.label-green {
  margin: 0;
  color: var(--text-gray-color);
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.padding-button {
  padding-right: 20px;
  padding-left: 20px;
}

.input-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status-indicator {
  width: 10px;
  height: 10px;
  background-color: var(--stream-indicator-offline);
  border-radius: 50%;
}

.live {
  background-color: var(--live-red);
}

.live-button {
  background-color: var(--live-red);

  &:hover {
    background-color: var(--live-red-hover);
  }
}

.status-text {
  font-size: 18px;
  text-transform: uppercase;
}

.status-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.status-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 1px;
  border-bottom: 1px solid var(--always-white-color);
  transform: translateX(-50%);
}

.stream-details {
  position: relative;
  width: 100%;
}

.stream-details > * {
  padding-bottom: 6px;
}

.text-field-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  line-height: 20px;
}

.field-caption {
  color: var(--text-gray-color);
  font-size: 95%;
}

.field-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.field-value.field-value-description {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  white-space: unset;
  -webkit-box-orient: vertical;
}

.stream-edit {
  position: absolute;
  top: 5%;
  width: 70px;
}

.toggle-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
