@import 'assets/css/styles.scss';

.settings-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  background: var(--green-300-primary-background);
}

.settings-block-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: calc(100vh - 40px);
  margin: 20px 40px;
  overflow: auto;
}

.settings-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  min-width: 900px;
  height: 100%;
  padding: 20px;
  background: var(--green-200-header-menu-background);
}

.chat-container {
  display: flex;
  flex-basis: 0.0001px;
  min-width: 350px;
  max-width: 350px;
  height: 100%;
}

.area {
  height: 250px;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: 0 20px;
}

.col-1 {
  flex-basis: 45%;
}

.col-2 {
  flex-basis: 55%;
}

.button {
  flex: 0 0 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: white;
  line-height: 16px;
  text-transform: uppercase;
  background-color: var(--brand-green-color);

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.preview-container {
  margin-bottom: 30px;
}

.preview {
  margin-bottom: 10px;
}

.input {
  height: 40px;
}

.form-container > * {
  padding-bottom: 10px;
}

.field-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
}

.field-container > * {
  width: 100%;
}

.label {
  margin: 0;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.preview-button {
  width: 120px;
}

.input-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
}
