.video-elements-wrapper {
  --size-modifier: 1;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.fullscreen {
  --size-modifier: 2;
}

.video-controls-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 15px;
  color: var(--always-white-color);
}

.progress-bar {
  width: 100%;
}

.video-time,
.live-indicator {
  margin-right: auto;
}
