/* stylelint-disable selector-class-pattern */
@import '../breakpoint.scss';

aside.EmojiPickerReact.epr-main {
  --epr-picker-border-color: transparent;
  --epr-picker-border-radius: 6px;
  --epr-bg-color: var(--gray-400-primary-background);
  --epr-category-label-bg-color: var(--gray-300-header-menu-background);
  --epr-search-input-bg-color: var(--gray-300-header-menu-background);
  --epr-search-input-text-color: var(--brand-green-color);
  --epr-search-input-placeholder-color: var(--text-gray-color);
  --epr-search-input-bg-color-active: var(--gray-300-header-menu-background);
  --epr-search-border-color: transparent;
  --epr-search-input-border-radius: 6px;
  --epr-emoji-size: 27px;
  --epr-header-padding: 15px 15px 5px;
  --epr-category-label-text-color: var(--text-gray-color);
  --epr-category-label-height: 35px;

  padding-bottom: 10px;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 15%);

  .epr-header {
    .epr-header-overlay {
      display: none;
    }

    .epr-search-container {
      input.epr-search {
        font-size: 15px;
        font-family: Gilroy, sans-serif;
        line-height: 24px;
        letter-spacing: -0.16px;
        border: 1px solid var(--epr-search-border-color);
        outline: none;
      }
    }

    .epr-category-nav {
      padding: 15px 15px 10px;
    }
  }

  .epr-body {
    padding-left: 16px;

    .epr-emoji-list {
      .epr-emoji-category-label {
        font-size: 15px;
        font-family: Gilroy, sans-serif;
        line-height: 24px;
        letter-spacing: -0.16px;
        border-radius: 3px;
      }
    }

    button.epr-emoji.epr-emoji-has-variations::after {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--secondary-text-color);
      }
    }
  }
}

@media #{$tablet-middle} {
  aside.EmojiPickerReact.epr-main {
    .epr-header {
      .epr-header-overlay {
        display: flex;
      }

      .epr-category-nav {
        justify-content: center;
        gap: 5px;
        padding: 5px 15px 10px;
      }
    }
  }
}
