.active {
  background-color: var(--brand-green-color);
}

.active > a {
  color: var(--white-text-color);
}

.inactive > a {
  color: var(--text-gray-color);
}

.inactive:hover a {
  color: var(--brand-green-color);
}

.image {
  width: auto;
  max-width: 40px;
  max-height: 40px;
}

.icon {
  width: auto;
  max-width: 40px;
  max-height: 40px;
  margin-right: 5px;
  padding-top: 2px;
}

.name {
  display: inline;
  align-items: center;
  width: 70%;
  margin-left: 10px;
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
