@import 'assets/css/styles.scss';

.content-heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5px;
  padding-bottom: 10px;
}

.content-header,
.content-subheader {
  color: var(--white-text-color);
  font-weight: 600;
  font-size: 25px;

  @media screen and (max-width: 600px) {
    font-size: 15px;
  }
}

.content-subheader {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 25px 63px;
  border: none;
}

.button-container {
  position: absolute;
  top: calc(100% - 78px);
  left: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 8px;
  background-color: var(--gray-300-header-menu-background);
}

.button-container > button {
  display: inline-block;
  width: 120px;
  height: 36px;
  color: var(--always-white-color);
  text-align: center;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 12%;
  cursor: pointer;

  &:hover {
    background-color: var(--brand-green-color-hover);
  }

  &:disabled {
    color: var(--text-gray-color);
    background-color: var(--gray-200-input-background);
    cursor: not-allowed;

    &:hover {
      background-color: var(--gray-200-input-background);
    }
  }
}

.content-checklist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 15px;
  width: 1100px;
  overflow-x: hidden;
  overflow-y: auto;

  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 800px;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    width: 600px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 80vw;
  }
}
