.chat-default {
  --msg-time-color: var(--text-gray-color);
  --msg-color: var(--text-gray-color);
  --default-avatar-color: var(--green-100-header-menu-background);
  --default-avatar-bgc: var(--green-200-header-menu-background);
}

.chat-green {
  --msg-time-color: var(--green-100-header-menu-background);
  --msg-color: var(--green-100-header-menu-background);
  --default-avatar-color: var(--green-100-header-menu-background);
  --default-avatar-bgc: var(--green-200-header-menu-background);
}

.chat-message-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.chat-message {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 10px;
}

.chat-message-body {
  display: grid;
  grid-template-rows: 25px auto;
}

.chat-message-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.author-name {
  overflow: hidden;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author-avatar {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  background-size: cover;
  border-radius: 50%;
}

.dispatch-time {
  margin-left: 10px;
  color: var(--msg-time-color);
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
}

.text-comment {
  color: var(--msg-color);
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
  word-break: break-word;
}

.default-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 12px;
  color: var(--green-100-header-menu-background);
  font-size: 14px;
  line-height: 14px;
  background-color: var(--default-avatar-bgc);
  border-radius: 50%;
}
