.video-comment {
  width: 100%;
  margin-bottom: 20px;
}

.video-comment .main-part-comment {
  position: relative;
  display: flex;
  align-items: center;
}

.video-comment .main-part-comment .commentators-avatar {
  width: 34px;
  height: 34px;
  margin-right: 12px;
  background-size: cover;
  border-radius: 50%;
}

.video-comment .main-part-comment .commentators-name {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 16px;
}

.video-comment .main-part-comment .dispatch-time {
  position: absolute;
  top: 10px;
  right: 0;
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
}

.video-comment .content-part-comment {
  margin: 5px 0 0 46px;
}

.video-comment .content-part-comment .text-comment {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
}

.default-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin-right: 12px;
  color: var(--green-100-header-menu-background);
  font-size: 18px;
  line-height: 18px;
  background-color: var(--green-200-header-menu-background);
  border-radius: 50%;
}
