.form-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-top: 13px;
  margin-bottom: 22px;
}

.input-error {
  border: 1px solid var(--input-error-color);
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgb(var(--input-error-color) / 80%), 0 0 5px 0 rgb(var(--input-error-color) / 50%);
}
