.form-container {
  display: flex;
  flex-direction: column;
}

.link {
  color: var(--link-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}

.link:hover {
  color: var(--link-hover-color);
  transition: all 0.3s ease;
}

.password {
  height: 47px;
  border-radius: 3px 0 0 3px;
}

.password::placeholder {
  color: var(--input-password-placeholder-color);
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

.input-error {
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgb(var(--input-error-color) / 80%), 0 0 5px 0 rgb(var(--input-error-color) / 50%);
}

div .input-error {
  border: var(--input-error-border);
}

div .input-error-dark {
  outline: var(--input-error-border);
}

.input-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 60px;
  column-gap: 20px;
}

.label {
  font-weight: 500;
  font-size: 15px;
  font-family: Gilroy, sans-serif;
  text-transform: capitalize;
}

.input {
  margin-bottom: 5px;
}

.upper-space-regular {
  margin-top: 20px;
}

.continue-with {
  margin: 15px 0;
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .paragraph-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.password-error {
  position: absolute;
  top: 110%;
  width: 50%;
  line-height: 15px;
}

.password-eye:hover {
  background-color: var(--always-white-color);
  transition: all 0.3s ease;
}
