.studio {
  display: flex;
  flex-direction: column;
  background: var(--green-300-primary-background);
}

.header {
  display: flex;
  flex-grow: 0.2;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  width: 80%;
  padding-top: 50px;
  color: var(--always-white-color);
  font-size: 30px;
}

.body {
  flex-grow: 15;
  align-self: center;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 10px;

  th {
    width: 50px;
    padding: 18px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;

    &:nth-child(2) {
      width: 200px;
    }
  }

  tr {
    border-top: 1px solid var(--green-200-header-menu-background);

    &:last-child {
      border-bottom: 1px solid var(--green-200-header-menu-background);
    }
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: var(--always-white-color);
  border: 1px solid #34495e;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
  appearance: none;

  &:checked {
    background-color: var(--brand-green-color);
  }
}
