.studio {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--green-300-primary-background);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  width: 80%;
  padding-top: 50px;
  color: var(--always-white-color);
  font-size: 30px;
}

.body {
  align-self: center;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    width: 50px;
    padding: 18px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;

    &:first-child {
      width: 10px;
    }

    &:nth-child(2) {
      width: 200px;
    }
  }

  tr {
    border-bottom: 1px solid var(--green-200-header-menu-background);

    &:last-child {
      border: none;
    }
  }
}

.checkbox {
  width: 20px;
  height: 20px;
}

.extended-menu-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  font-size: 20px;

  .picked-count {
    font-size: 20px;
  }
}

.extended-menu-closed,
.extended-menu-open {
  width: 100%;
  min-height: 1px;
  background-color: var(--green-200-header-menu-background);
  transition: min-height 0.2s ease-out;

  .extended-menu-body {
    height: 1px;
  }
}

.extended-menu-open {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 20px;
  box-shadow: inset 0 0 6px 4px rgba(0 0 0 / 45%);
  transition: all 0.2s ease-in;
}

.displaynone {
  visibility: hidden;
}

.extented-segment {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .extented-segment-title {
    padding-right: 5px;
  }
}
