.video-card {
  width: 262px;
  padding-bottom: 5px;
  background-color: var(--gray-300-header-menu-background);
}

.video-preview-container {
  position: relative;
  width: 262px;
  height: 121px;
  cursor: pointer;
}

.video-preview-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.video-labels {
  position: absolute;
  right: 20px;
  bottom: 12px;
  display: flex;
  column-gap: 5px;
}

.video-duration-label,
.video-live-label {
  min-width: 47px;
  padding: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.video-duration-label {
  color: var(--text-white-color);
  background-color: var(--gray-300-header-menu-background);
}

.video-live-label {
  color: var(--text-white-color);
  background-color: var(--brand-green-color-hover);
}

.video-card-author-avatar {
  width: 21px;
  height: 20px;
  margin: 6px 7px 0 0;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

.video-information-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px black solid;
}

.video-description-container {
  width: 197.56px;
}

.video-card-title {
  max-height: 40px;
  margin: 7px 0 9px;
  overflow: hidden;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  text-overflow: ellipsis;
  cursor: pointer;
}

.svg-icon {
  width: 15px;
  height: 12px;
  margin: 0 6px;
}

.video-card-author-name {
  max-width: 198px;
  max-height: 16px;
  margin: 0 0 10px;
  overflow: hidden;
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  text-overflow: ellipsis;
  cursor: pointer;
}

.video-card-hr {
  margin: 0 0 5px;
  color: var(--gray-400-primary-background);
  background-color: var(--gray-400-primary-background);
  border-color: var(--gray-400-primary-background);
}

.video-card-statistic-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  min-height: 29px;
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: right;
}

.video-card-statistic-container > div {
  display: flex;
  align-items: center;
}

.video-card-statistic-container > div:first-child {
  max-width: 131px;
  margin: 0 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-card-statistic-container > div:first-child svg {
  width: 20px;
  height: 20px;
}

.video-card-statistic-container > div:last-child svg {
  width: 17px;
  height: 17px;
}

.video-card-statistic-container > div:last-child {
  max-width: 131px;
  margin: 0 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewer-container p {
  margin: 0;
  text-align: center;
}

.video-card-statistic-data {
  color: var(--text-gray-color);
  font-size: 12px;
  line-height: 16px;
}

.live-icon {
  color: var(--brand-green-color);
}
