.button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 130px;
  padding: 10px 0;
  color: var(--text-gray-color);
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
  background: none;
  border-bottom: 3px solid transparent;
}

.button:hover {
  color: var(--white-text-color);
  background: none;
  cursor: pointer;
}

.active {
  color: var(--white-text-color);
  border-bottom: 3px solid var(--brand-green-color);
}
