.auth-submit-btn {
  padding: 10px 15px;
  color: var(--always-white-color);
  font: inherit;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 3px;
  outline: inherit;
  cursor: pointer;
}

.auth-submit-btn:hover {
  background-color: var(--brand-green-color-hover);
}
