$submit-top-margin: 20px;

.auth-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: $submit-top-margin;
  padding: 0 15px;
  color: var(--white-text-color);
  font: inherit;
  text-transform: uppercase;
  background-color: var(--brand-green-color);
  border: none;
  border-radius: 3px;
  outline: inherit;
  cursor: pointer;
}

.auth-submit-btn:hover {
  background-color: var(--brand-green-color-hover);
}
