.filter-select {
  position: relative;
  margin-top: 20px;
  padding: 0 15px 0 5px;
  font-family: Gilroy-SemiBold, sans-serif;
  border-radius: 4px;
  box-shadow: 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 5px 5px rgb(0 0 0 / 20%);
}

.filter-select-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: var(--gray-400-primary-background);
  cursor: pointer;
}

.filter-select-title span {
  color: var(--white-text-color);
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-select-title svg {
  width: 11px;
}

.filter-select-title svg path {
  fill: var(--text-gray-color);
}

.filter-select-title:hover svg path {
  fill: var(--white-text-color);
}

.filter-select-list {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--gray-300-header-menu-background);
  opacity: 0;
  animation-name: hide-list;
  animation-duration: 0.5s;
  animation-timing-function: step-start;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.filter-select-item {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: var(--gray-300-header-menu-background);
}

.filter-select-title:focus + .filter-select-list {
  opacity: 1;
  animation-name: none;
}

.filter-select-item input {
  display: none;
}

.filter-select-item label {
  display: block;
  width: 100%;
  padding: 0 8px;
  color: var(--text-gray-color);
  font-size: 15px;
  line-height: 24px;
}

.filter-select-item:hover label {
  color: var(--white-text-color);
}

.filter-select-item input:checked ~ label {
  color: var(--white-text-color);
}

.filter-select-item:hover {
  background-color: var(--brand-green-color);
}

@keyframes hide-list {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}
