.filter-select {
  position: relative;
  margin-top: 20px;
  font-weight: 600;
  font-family: Gilroy, sans-serif;
  border-radius: 4px;
  box-shadow: 0 8px 10px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 5px 5px rgb(0 0 0 / 20%);
}

.filter-select-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 15px 0 5px;
  background-color: var(--gray-400-primary-background);
  cursor: pointer;
}

.filter-select-title span {
  color: var(--white-text-color);
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-select-title svg {
  width: 11px;
}

.filter-select-title svg path {
  fill: var(--text-gray-color);
}

.filter-select-item-close-icon svg path {
  fill: var(--text-gray-color);
}

.filter-select-title:hover svg path {
  fill: var(--white-text-color);
}

.filter-select-list {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--gray-300-header-menu-background);
}

.filter-select-item {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: var(--gray-300-header-menu-background);
}

.filter-select-item input {
  display: none;
}

.filter-select-item label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 15px 0 8px;
  color: var(--text-gray-color);
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.filter-select-item-close-icon {
  display: none;
  align-items: center;
  cursor: pointer;
}

.filter-select-item-close-icon svg {
  width: 12px;
}

.filter-select-item-close-icon:hover svg path {
  fill: var(--white-text-color);
}

.filter-select-item:hover label {
  color: var(--white-text-color);
}

.filter-select-item input:checked ~ label {
  padding: 0 0 0 8px;
  color: var(--white-text-color);
}

.filter-select-item input:checked ~ .filter-select-item-close-icon {
  display: flex;
  margin-right: 15px;
}

.filter-select-item:hover {
  background-color: var(--brand-green-color);
}
