.button {
  padding: 5px 47px;
  color: var(--text-gray-color);
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
  background: none;
}

.button:hover {
  color: var(--white-text-color);
  background: none;
  cursor: pointer;
}

.active {
  color: var(--white-text-color);
  border-bottom: 3px var(--brand-green-color) solid;
}
