version: '3.9'
services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbit
    networks:
      - socket_network
      - backend_network
    ports:
      # AMQP protocol port
      - "5672:5672"
      # HTTP management UI
      - "15672:15672" 
  api-db:
    image: postgres:14
    container_name: api-db
    ports:
      - '5432:5432'
    volumes:
      - pgdata_api:/var/lib/postgresql/data
      - pgconf_api:/etc/postgresql
      - pglog_api:/var/log/postgresql
    env_file:
      - ../.env/api-db.env
    networks:
      - backend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
  backend:
    image: backend
    container_name: backend
    depends_on:
      - api-db
    ports:
      - '5001:5001'
    env_file:
      - ../.env/api.env
    networks:
      - socket_network
      - backend_network
      - frontend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
  socket:
    image: socket
    container_name: socket
    restart: on-failure:5
    depends_on:
      - rabbitmq
    links: 
        - rabbitmq
    ports:
      - '5002:5002'
    env_file:
      - ../.env/socket.env
    networks:
      - socket_network
      - backend_network
      - frontend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"      
  frontend:
    image: frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - '8080:80'
      - '443:443'
    env_file:
      - ../.env/client.env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    volumes:
      - ../nginx/nginx.local.conf:/etc/nginx/nginx.conf
    networks:
      - socket_network
      - backend_network
      - frontend_network

volumes:
  pgdata_api:
    driver: local
  pgconf_api:
    driver: local
  pglog_api:
    driver: local
  shared:
    driver: local

networks:
  socket_network:
    driver: bridge
  backend_network:
    driver: bridge
  frontend_network:
    driver: bridge
