version: '3.9'
services:
  rtmp:
    image: tiangolo/nginx-rtmp
    ports:
      - "1935:1935"
    container_name: rtmp
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - backend_network
    volumes:
      - ../nginx/nginx.rtmp.conf:/etc/nginx/nginx.conf
  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbit
    container_name: rabbitmq
    networks:
      - backend_network
    ports:
      # AMQP protocol port
      - "5672:5672"
      # HTTP management UI
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics -q status
      interval: 2s
      timeout: 1s
      retries: 5
      start_period: 3s
  api-db:
    image: postgres:14
    container_name: api-db
    ports:
      - '5432:5432'
    volumes:
      - pgdata_api:/var/lib/postgresql/data
      - pgconf_api:/etc/postgresql
      - pglog_api:/var/log/postgresql
    env_file:
      - ../.env/api-db.env
    networks:
      - backend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 2s
      timeout: 1s
      retries: 5
      start_period: 3s
  backend:
    image: ghcr.io/binarystudioacademy/streamlet-backend:latest
    container_name: backend
    depends_on:
      api-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    ports:
      - '5001:5001'
    env_file:
      - ../.env/api.env
    networks:
      - backend_network
      - frontend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    healthcheck:
      test: [ "CMD", "wget", "-q", "-O -", "http://localhost:5001/${API_PREFIX}/healthcheck" ]
      interval: 2s
      timeout: 1s
      retries: 5
      start_period: 3s
  push:
    image: ghcr.io/binarystudioacademy/streamlet-push:latest
    container_name: push
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - '5002:5002'
    env_file:
      - ../.env/push.env
    networks:
      - backend_network
      - frontend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    healthcheck:
      test: [ "CMD", "wget", "-q", "-O -", "http://localhost:5002/healthcheck" ]
      interval: 2s
      timeout: 1s
      retries: 5
      start_period: 3s
  video-transcoding-server:
    image: ghcr.io/binarystudioacademy/streamlet-video-transcoding-server:latest
    container_name: video-transcoding-server
    volumes:
      - ../playback:/app/backend/video-transcoding-server/playback
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ../.env/video-transcoding-server.env
    networks:
      - backend_network
      - frontend_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
  frontend:
    image: ghcr.io/binarystudioacademy/streamlet-frontend:latest
    container_name: frontend
    depends_on:
      backend:
        condition: service_healthy
    ports:
      - '80:80'
      - '443:443'
    env_file:
      - ../.env/client.env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    volumes:
      - /etc/letsencrypt/live/streamlet.tk/fullchain.pem:/etc/letsencrypt/live/dev.streamlet.tk/fullchain.pem
      - /etc/letsencrypt/live/streamlet.tk/privkey.pem:/etc/letsencrypt/live/dev.streamlet.tk/privkey.pem
      - /etc/letsencrypt/options-ssl-nginx.conf:/etc/letsencrypt/options-ssl-nginx.conf
      - /etc/letsencrypt/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem
      - ../playback:/assets/segments
    networks:
      - backend_network
      - frontend_network

volumes:
  pgdata_api:
    driver: local
  pgconf_api:
    driver: local
  pglog_api:
    driver: local
  shared:
    driver: local

networks:
  backend_network:
    driver: bridge
  frontend_network:
    driver: bridge
