.wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.poster {
  position: relative;
  z-index: 10;
  display: inline-block;
  height: 0;
  padding-bottom: 56.25%;
}

.avatar {
  display: inline-block;
}

.top-part {
  display: flex;
}

.right-block {
  margin-left: 8px;
}

.name {
  display: inline-block;
  width: 100px;
  height: 12px;
}

.title {
  display: inline-block;
  width: 150px;
  height: 10px;
}
