.videos-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  width: 100%;

  @media screen and (min-width: 2500px) {
    width: 1900px;
    margin: 0 auto;
  }

  @media screen and (max-width: 1900px) {
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  }
}

.loader-block {
  margin-top: 20px;

  & > div {
    transform: translateY(0%);
  }
}

.separate-video-block:not(:last-child) {
  margin-bottom: 26px;
  padding-bottom: 26px;
  border-bottom: 2px solid var(--gray-300-header-menu-background);
}

.wrapper-for-title {
  @media screen and(min-width: 2500px) {
    width: 1900px;
    margin: 0 auto;
  }
}

.video-block-title {
  margin-bottom: 26px;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
