.button {
  min-width: 50px;
  margin-bottom: 10px;
  padding: 5px 5px 2px;
  color: var(--white-text-color);
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: var(--brand-green-color);
}

.active {
  color: var(--brand-green-color);
  border-bottom: solid 2px var(--brand-green-color);
}
