.button {
  min-width: 50px;
  margin: none;
  color: var(--white-text-color);
  font-size: 13px;
  background: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: var(--brand-green-color);
}

.active {
  color: var(--brand-green-color);
  border-bottom: solid 2px var(--brand-green-color);
}
