.live-label {
  height: 20px;
  color: var(--always-white-color);
  font-size: 13px;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  background-color: var(--video-card-live-color);
  border-radius: 3px;

  & svg {
    width: 15px;
  }

  & svg path {
    fill: var(--always-white-color);
  }
}
