.modal-content-container {
  position: relative;
  min-width: 320px;
  min-height: 105px;
  max-height: 100vh;
  padding: 10px;
  background-color: var(--gray-300-header-menu-background);
  border-radius: 3px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: none;
}
