.continue-with-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 5px;
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}

.auth-link {
  margin-left: 5px;
}
