.continue-with-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 29px;
  color: var(--text-gray-color);
}

.auth-link {
  margin-left: 5px;
  color: var(--white-text-color);
  font-family: Gilroy-Medium, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.auth-link:hover {
  color: var(--text-gray-color);
}
