.continue-with-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-family: Gilroy, sans-serif;
  line-height: 20px;
}

.auth-link {
  margin-left: 5px;
  color: var(--white-text-color);
  font-weight: 500;
  font-family: Gilroy, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.auth-link:hover {
  color: var(--text-gray-color);
}
