// ------ z-index ------

// header & sidebars
$mobile-sidebar-z-index: 300;
$sidebar-z-index: 200;
$header-z-index: 250;
$header-menu-z-index: 260;

// app pages
$page-z-index: 100;

// page components
$page-component-z-index: 150;

// modalss
$modal-z-index: 1000;

// ------ sizes ------
$header-height: 82px;
