* {
  box-sizing: border-box;
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url('../font/Gilroy-SemiBold.ttf');
}

@font-face {
  font-family: Gilroy;
  src: url('../font/Gilroy-Regular.ttf');
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url('../font/Gilroy-Medium.ttf');
}

$brand-green-color: #06c149;
$green-100-header-menu-background: #ebefe8;

:root {
  --gray-400-primary-background: #181a20;
  --gray-300-header-menu-background: #1f222a;
  --gray-200-input-background: #363c3a;
  --green-300-primary-background: #213428;
  --green-200-header-menu-background: #344f3e;
  --green-100-header-menu-background: #ebefe8;
  --primary-text-color: #181a20;
  --text-gray-color: #6a726d;
  --white-text-color: #ffffff;
  --brand-green-color: #06c149;
  --brand-yellow-color: #f6c648;
  --support-info-color: #03d8ff;
  --supprot-error-color: #f76519;
}

// custom scrollbar
html {
  scrollbar-color: $brand-green-color $green-100-header-menu-background;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $brand-green-color;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

::-webkit-scrollbar-track {
  background-color: $green-100-header-menu-background;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 40%);
}

// custom scrollbar end

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  color: #505565;
  font-size: 16px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 28px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

h1 {
  color: #232735;
  font-size: 44px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 64px;
}

h2 {
  color: #232735;
  font-size: 30px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 48px;
}

h3 {
  color: #232735;
  font-size: 20px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 32px;
}

h4 {
  color: #232735;
  font-size: 18px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 24px;
}

h5 {
  color: #232735;
  font-size: 16px;
  font-family: Gilroy-Medium, sans-serif;
  line-height: 18px;
}

h6 {
  color: #232735;
  font-size: 14px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 24px;
}

.sub-heading {
  color: #232735;
  font-size: 24px;
  font-family: Gilroy-SemiBold, sans-serif;
  line-height: 48px;
}

.caption {
  color: #505565;
  font-weight: 400;
  font-size: 12px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.small-text {
  color: #505565;
  font-weight: 400;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 19px;
}

.semi-bold {
  color: #505565;
  font-weight: 600;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 20px;
}

.quotation {
  color: #505565;
  font-weight: 400;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  font-style: italic;
  line-height: 24px;
}
