@import 'scrollbar.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Black.woff2') format('woff2');
}

@font-face {
  font-weight: normal;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 100;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Light.woff2') format('woff2');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-ExtraboldItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-SemiboldItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Extrabold.woff2') format('woff2');
}

@font-face {
  font-weight: 200;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Heavy.woff2') format('woff2');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-weight: normal;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 100;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Thin.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-LightItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-HeavyItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 200;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy-UltraLightItalic.woff2') format('woff2');
}

:root {
  --gray-400-primary-background: #181a20;
  --gray-300-header-menu-background: #1f222a;
  --gray-300-header-menu-background-opacity: #1f222a99;
  --gray-200-input-background: #363c3a;
  --green-300-primary-background: #213428;
  --green-200-header-menu-background: #344f3e;
  --green-100-header-menu-background: #ebefe8;
  --primary-text-color: #181a20;
  --secondary-text-color: #505565;
  --text-gray-color: #6a726d;
  --white-text-color: #ffffff;
  --brand-green-color: #06c149;
  --brand-green-color-hover: #00802d;
  --brand-yellow-color: #f6c648;
  --support-info-color: #03d8ff;
  --hover-dark-grey: #2a2d37;
  --support-error-color: #f76519;
  --hover-light-grey: #e8e8e8;
  --input-error-color: #f41b3b;
  --input-placeholder-color: #c4c4c4;
  --input-password-placeholder-color: #bcbec0;

  /* auth forms */
  --auth-modal-background: rgba(52 79 62 / 47%);
  --auth-modal-border-color-1: rgb(34 240 0 / 47%);
  --auth-modal-border-color-2: rgb(146 255 229 / 47%);

  /* video-card */
  --video-card-schedule-badge-background: #000000b3;
  --video-card-schedule-btn-background: #ffffff40;
  --video-card-live-color: #ba0000;
  --white-background-video-card: #ffffff26;
}

body[data-theme='light'] {
  --gray-300-header-menu-background: var(--green-100-header-menu-background);
  --primary-text-color: #ffffff;
  --white-text-color: #181a20;
  --secondary-text-color: #a7a5a5;
  --hover-light-grey: var(--hover-dark-grey);
  --gray-400-primary-background: #ffffff;
  --gray-200-input-background: #dadada;
}

html {
  @include custom-scrollbar;

  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  line-height: 28px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

h1 {
  color: #232735;
  font-weight: 600;
  font-size: 44px;
  font-family: Gilroy, sans-serif;
  line-height: 64px;
}

h2 {
  color: #232735;
  font-weight: 600;
  font-size: 30px;
  font-family: Gilroy, sans-serif;
  line-height: 48px;
}

h3 {
  color: #232735;
  font-weight: 600;
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  line-height: 32px;
}

h4 {
  color: #232735;
  font-weight: 600;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}

h5 {
  color: #232735;
  font-weight: 500;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  line-height: 18px;
}

h6 {
  color: #232735;
  font-weight: 600;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}

.sub-heading {
  color: #232735;
  font-weight: 600;
  font-size: 24px;
  font-family: Gilroy, sans-serif;
  line-height: 48px;
}

.caption {
  color: #505565;
  font-weight: 400;
  font-size: 12px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.small-text {
  color: #505565;
  font-weight: 400;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 19px;
}

.semi-bold {
  color: #505565;
  font-weight: 600;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 20px;
}

.quotation {
  color: #505565;
  font-weight: 400;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  font-style: italic;
  line-height: 24px;
}

p {
  margin: 0;
}
