@import 'scrollbar.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Extrabold.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Extrabold.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Extrabold.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-ExtraboldItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-ExtraboldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-HeavyItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-HeavyItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Heavy.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Heavy.woff') format('woff'), url('../fonts/girloy/Gilroy-Heavy.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-BoldItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-MediumItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Medium.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-ThinItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-UltraLight.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/girloy/Gilroy-UltraLight.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Thin.woff2') format('woff2'), url('../fonts/girloy/Gilroy-Thin.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Thin.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Bold.woff2') format('woff2'), url('../fonts/girloy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-LightItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-LightItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Black.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Black.woff') format('woff'), url('../fonts/girloy/Gilroy-Black.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-UltraLightItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-UltraLightItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-SemiboldItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Light.woff') format('woff'), url('../fonts/girloy/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-BlackItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Semibold.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Thin.woff2') format('woff2'), url('../fonts/inter/Inter-Thin.woff') format('woff'),
    url('../fonts/inter/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Thin_1.woff2') format('woff2'), url('../fonts/inter/Inter-Thin_1.woff') format('woff'),
    url('../fonts/inter/Inter-Thin_1.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-ExtraLight.woff2') format('woff2'),
    url('../fonts/inter/Inter-ExtraLight.woff') format('woff'),
    url('../fonts/inter/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Thin_2.woff2') format('woff2'), url('../fonts/inter/Inter-Thin_2.woff') format('woff'),
    url('../fonts/inter/Inter-Thin_2.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-ExtraLight_1.woff2') format('woff2'),
    url('../fonts/inter/Inter-ExtraLight_1.woff') format('woff'),
    url('../fonts/inter/Inter-ExtraLight_1.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Medium.woff2') format('woff2'), url('../fonts/inter/Inter-Medium.woff') format('woff'),
    url('../fonts/inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Light.woff2') format('woff2'), url('../fonts/inter/Inter-Light.woff') format('woff'),
    url('../fonts/inter/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Light_1.woff2') format('woff2'),
    url('../fonts/inter/Inter-Light_1.woff') format('woff'), url('../fonts/inter/Inter-Light_1.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-ExtraLight_2.woff2') format('woff2'),
    url('../fonts/inter/Inter-ExtraLight_2.woff') format('woff'),
    url('../fonts/inter/Inter-ExtraLight_2.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Light_2.woff2') format('woff2'),
    url('../fonts/inter/Inter-Light_2.woff') format('woff'), url('../fonts/inter/Inter-Light_2.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Medium_1.woff2') format('woff2'),
    url('../fonts/inter/Inter-Medium_1.woff') format('woff'),
    url('../fonts/inter/Inter-Medium_1.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Medium_2.woff2') format('woff2'),
    url('../fonts/inter/Inter-Medium_2.woff') format('woff'),
    url('../fonts/inter/Inter-Medium_2.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/inter/Inter-SemiBold.woff') format('woff'),
    url('../fonts/inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-SemiBold_1.woff2') format('woff2'),
    url('../fonts/inter/Inter-SemiBold_1.woff') format('woff'),
    url('../fonts/inter/Inter-SemiBold_1.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Bold.woff2') format('woff2'), url('../fonts/inter/Inter-Bold.woff') format('woff'),
    url('../fonts/inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-SemiBold_2.woff2') format('woff2'),
    url('../fonts/inter/Inter-SemiBold_2.woff') format('woff'),
    url('../fonts/inter/Inter-SemiBold_2.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Bold_1.woff2') format('woff2'), url('../fonts/inter/Inter-Bold_1.woff') format('woff'),
    url('../fonts/inter/Inter-Bold_1.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Bold_2.woff2') format('woff2'), url('../fonts/inter/Inter-Bold_2.woff') format('woff'),
    url('../fonts/inter/Inter-Bold_2.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-ExtraBold.woff2') format('woff2'),
    url('../fonts/inter/Inter-ExtraBold.woff') format('woff'),
    url('../fonts/inter/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-ExtraBold_1.woff2') format('woff2'),
    url('../fonts/inter/Inter-ExtraBold_1.woff') format('woff'),
    url('../fonts/inter/Inter-ExtraBold_1.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-ExtraBold_2.woff2') format('woff2'),
    url('../fonts/inter/Inter-ExtraBold_2.woff') format('woff'),
    url('../fonts/inter/Inter-ExtraBold_2.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Black.woff2') format('woff2'), url('../fonts/inter/Inter-Black.woff') format('woff'),
    url('../fonts/inter/Inter-Black.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/inter/Inter-Regular.woff') format('woff'), url('../fonts/inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Regular_1.woff2') format('woff2'),
    url('../fonts/inter/Inter-Regular_1.woff') format('woff'),
    url('../fonts/inter/Inter-Regular_1.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Black_1.woff2') format('woff2'),
    url('../fonts/inter/Inter-Black_1.woff') format('woff'), url('../fonts/inter/Inter-Black_1.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Black_2.woff2') format('woff2'),
    url('../fonts/inter/Inter-Black_2.woff') format('woff'), url('../fonts/inter/Inter-Black_2.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: Inter;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/inter/Inter-Regular_2.woff2') format('woff2'),
    url('../fonts/inter/Inter-Regular_2.woff') format('woff'),
    url('../fonts/inter/Inter-Regular_2.ttf') format('truetype');
}

:root {
  --gray-400-primary-background: #181a20;
  --gray-300-header-menu-background: #1f222a;
  --gray-300-header-menu-background-opacity: #1f222a99;
  --gray-300-header-menu-background-transparent: #1f222a00;
  --gray-300-header-menu-background-sub-transparent: #1f222a50;
  --gray-200-input-background: #363c3a;
  --green-300-primary-background: #213428;
  --green-300-primary-hover-background: #1c2c22;
  --green-200-header-menu-background: #344f3e;
  --green-100-header-menu-background: #ebefe8;
  --primary-text-color: #181a20;
  --always-primary-text-color: #181a20;
  --always-gray-300-header-menu-background: #1f222a;
  --secondary-text-color: #505565;
  --text-gray-color: #6a726d;
  --always-text-gray-color: #6a726d;
  --text-grayish-color: #a5a5a5;
  --white-text-color: #ffffff;
  --browse-following-header-color: #181a20;
  --browse-following-header-color-transparent: #181a2000;
  --browse-following-header-color-sub-transparent: #181a2050;
  --brand-green-color: #06c149;
  --brand-dark-green-color: #006624;
  --brand-green-color-hover: #1caa4f;
  --brand-yellow-color: #f6c648;
  --support-info-color: #03d8ff;
  --hover-dark-grey: #2a2d37;
  --support-error-color: #f76519;
  --hover-light-grey: #e8e8e8;
  --input-error-color: #f41b3b;
  --input-placeholder-color: #c4c4c4;
  --button-placeholder-light-color: #f2f2f2;
  --input-password-placeholder-color: #bcbec0;
  --input-border: none;
  --input-error-border: 1px solid var(--input-error-color);
  --input-background-color: #ffffff;
  --always-white-color: #ffffff;
  --always-gray-color: #6a726d;
  --live-red: #e63232;
  --live-red-hover: #b11919;
  --stream-indicator-offline: #a59c9c;
  --input-disabled-color: #d6d4d4;

  /* horizontal-scroll */
  --solid-color-h-scroll: #1f222a;
  --sub-transparent-h-scroll: #181a2050;
  --transparent-h-scroll: #181a2000;

  /* sidebar */
  --sidebar-scrollbar-track-background: var(--gray-300-header-menu-background);
  --sidebar-icon-color: #6a726d;
  --sidebar-icon-hover-color: #ffffff;
  --sidebar-studio-icon-color: #6a726d;
  --sidebar-studio-icon-hover-color: #ffffff;

  /* header */
  --header-search-icon-color: #6a726d;
  --logo-text-color: #ffffff;

  /* following page */
  --see-more-btn-bg: var(--gray-300-header-menu-background);

  /* auth forms */
  --auth-modal-background: rgba(52 79 62 / 47%);
  --auth-modal-border-color-1: rgb(34 240 0 / 47%);
  --auth-modal-border-color-2: rgb(146 255 229 / 47%);
  --auth-border: linear-gradient(to left, var(--auth-modal-border-color-1), var(--auth-modal-border-color-2));
  --auth-background: var(--gray-400-primary-background);
  --auth-box-shadow: none;
  --link-color: #06c149;
  --link-hover-color: #ffffff;
  --password-eye-color: rgb(104 104 104);

  /* stream */
  --stream-settings-modal-bg: rgba(52 79 62);
  --stream-select-item-hover-bg: rgb(36 65 47);
  --studio-input: #2c4133;
  --graph-tooltip-bg: rgb(255 255 255 / 66.4%);
  --graph-tooltip-text-color: rgb(39 39 39);
  --graph-tooltip-box-shadow-color: rgb(0 0 0 / 20%);

  /* subscription */
  --subscribed-btn-background-color: rgb(104 104 104);
  --subscribed-btn-hover-background-color: rgb(145 145 145);

  /* channel page */
  --banner-background: #27292c;
  --channel-header-background: #1f222a99;

  /* video-card */
  --video-card-schedule-badge-background: #000000b3;
  --video-card-schedule-btn-background: #ffffff40;
  --video-card-live-color: #ba0000;
  --white-background-video-card: #ffffff26;

  /* video player */
  --container-bg: black;
  --controls-overlay: rgba(0 0 0 / 50%);
  --playpause-effect-bg: rgba(0 0 0 / 50%);
  --selected-menu-item-bg: rgb(48 48 48 / 50.7%);
  --hovered-menu-item-bg: rgb(105 105 105 / 75.3%);
  --settings-modal-bg: rgb(58 58 58 / 75.3%);
  --progress-bar-bg: rgb(100 100 100 / 50%);
  --progress-bar-preview-bg: rgb(206 206 206 / 50%);
  --progress-bar-done-bg: #006624;
  --selectable-not-selected-bg: rgb(255 255 255 / 56.2%);
  --live-indicator-bg: #00501c;

  /* video card search page */
  --video-card-search-channel-text: #ffffff;
  --video-card-search-info-text: #77807b;
  --video-card-search-info-icon: #363c3a;
  --video-card-search-title-text: #ffffff;
}

body[data-theme='light'] {
  --gray-300-header-menu-background: var(--green-100-header-menu-background);
  --primary-text-color: #ffffff;
  --white-text-color: #181a20;
  --browse-following-header-color: #ffffff;
  --browse-following-header-color-transparent: #ffffff00;
  --browse-following-header-color-sub-transparent: #ffffff50;
  --secondary-text-color: #a7a5a5;
  --hover-light-grey: var(--hover-dark-grey);
  --gray-400-primary-background: #ffffff;
  --gray-200-input-background: #dadada;
  --gray-300-header-menu-background-transparent: #ebefe800;
  --gray-300-header-menu-background-sub-transparent: #ebefe850;

  /* horizontal-scroll */
  --solid-color-h-scroll: var(--green-100-header-menu-background);
  --sub-transparent-h-scroll: #ebefe850;
  --transparent-h-scroll: #ebefe800;

  /* channel page */
  --banner-background: #94a098;
  --channel-header-background: #ebefe8a6;

  /* sidebar */
  --sidebar-scrollbar-track-background: #e8e8e8;
  --sidebar-icon-color: var(--brand-green-color);
  --sidebar-icon-hover-color: var(--brand-green-color-hover);

  /* header */
  --header-search-icon-color: var(--brand-green-color);
  --logo-text-color: #363c3a;

  /* following page */
  --see-more-btn-bg: var(--gray-300-header-menu-background);

  /* auth forms */
  --link-color: #006624;
  --link-hover-color: #6a726d;
  --auth-modal-background: white;
  --auth-box-shadow: 0 0 15px 7px rgb(0 0 0 / 16%);
  --auth-border: none;
  --input-border: 1px solid var(--brand-green-color);
  --auth-background: #fbfffa;

  /* stream */
  --stream-settings-modal-bg: white;
  --stream-select-item-hover-bg: rgb(197 197 197);

  /* video-card */
  --video-card-schedule-btn-background: #d1d1d140;

  /* video card search page */
  --video-card-search-channel-text: #6a726d;
  --video-card-search-info-text: #77807b;
  --video-card-search-info-icon: #c4c4c4;
  --video-card-search-title-text: #1f222a;
}

html {
  @include custom-scrollbar;

  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  line-height: 28px;
  background-color: var(--gray-400-primary-background);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

h1 {
  color: #232735;
  font-weight: 600;
  font-size: 44px;
  font-family: Gilroy, sans-serif;
  line-height: 64px;
}

h2 {
  color: #232735;
  font-weight: 600;
  font-size: 30px;
  font-family: Gilroy, sans-serif;
  line-height: 48px;
}

h3 {
  color: #232735;
  font-weight: 600;
  font-size: 20px;
  font-family: Gilroy, sans-serif;
  line-height: 32px;
}

h4 {
  color: #232735;
  font-weight: 600;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}

h5 {
  color: #232735;
  font-weight: 500;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  line-height: 18px;
}

h6 {
  color: #232735;
  font-weight: 600;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  line-height: 24px;
}

.sub-heading {
  color: #232735;
  font-weight: 600;
  font-size: 24px;
  font-family: Gilroy, sans-serif;
  line-height: 48px;
}

.caption {
  color: #505565;
  font-weight: 400;
  font-size: 12px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.small-text {
  color: #505565;
  font-weight: 400;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 19px;
}

.semi-bold {
  color: #505565;
  font-weight: 600;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  line-height: 20px;
}

.quotation {
  color: #505565;
  font-weight: 400;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  font-style: italic;
  line-height: 24px;
}

p {
  margin: 0;
}
