$custom-scrollbar-size: 10px;

@mixin custom-scrollbar {
  scrollbar-color: $white-text-color, $brand-green-color;

  ::-webkit-scrollbar {
    width: $custom-scrollbar-size;
    height: $custom-scrollbar-size;
    background-color: $white-text-color;
    box-shadow: inset 0 0 6px $text-gray-color;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $brand-green-color;

    &:hover {
      background-color: $brand-green-color-hover;
    }

    &:window-inactive {
      background-color: $brand-green-color-hover;
    }
  }
}
