@mixin custom-scrollbar {
  @media screen and (min-width: 425px) {
    scrollbar-color: var(--white-text-color), var(--brand-green-color);

    ::-webkit-scrollbar {
      width: var(--custom-scrollbar-size);
      height: var(--custom-scrollbar-size);
      background-color: var(--white-text-color);
      box-shadow: inset 0 0 6px var(--text-gray-color);
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--brand-green-color);

      &:hover {
        background-color: var(--brand-green-color-hover);
      }

      &:window-inactive {
        background-color: var(--brand-green-color-hover);
      }
    }
  }
}
