@import './scaffolding.scss';

.main-page-wrapper {
  display: flex;
  justify-content: space-between;
}

.video-chat-component {
  box-sizing: border-box;
  width: 500px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
